<div class="container projects">
	<main class=" col-md-8 main-content commentlist bre">
	<div>
		<div class="pagination hidden-xs">
			{$list}
		</div>
		<div class="pagination visible-xs-block">
			{$listm}
		</div>
	</div>
	<li id="comment">
	<div>
		<foreach name="imglist" item="imglist">
		<div class="row_comment">
			<div class="author visible-lg-block">
				<strong title="" class="">@{$imglist.author}</strong><br>
				<small class="hidden-xs"><a href="#">{$imglist.addtime|date='Y-m-d H:i',###}</a></small>
			</div>
			<div class="text">
				<!-- <span class="righttext">
				<a href="javascript:;">{$imglist.id}</a>
				</span> -->
				<p style="position: relative;">
					<a href="<?php echo substr_replace($imglist[url],"large",22,5); ?>" target="_blank" class="view_img_link">[查看原图]</a><br>
					<if condition="$imglist[type] eq 'gif'">
					<img src="<?php echo (str_replace('mw690','thumb180',$imglist[url])); ?>" data-gif="{$imglist.url}" alt="GIF Loader" class="gif" style="max-width: 100%;max-height: 450px;">
					<div class="gif-mask">
						PLAY
					</div>
					<else/>
					<img src="{$imglist.url}" style="max-width: 100%;max-height: 450px;" class="jpg">
					</if>
				</p>
			</div>
			<div class="jandan-vote">
				<span class="tucao-like-container">
				<a title="圈圈/支持" href="javascript:;" class="comment-like like" id="oo{$imglist.id}"  onclick="oo({$imglist.id})" data-type="pos">OO</a> [<span>{$imglist.oo}</span>]
				</span>
				<span class="tucao-unlike-container">
				<a title="叉叉/反对" href="javascript:;" class="comment-unlike unlike" id="xx{$imglist.id}" data-type="neg" onclick="xx({$imglist.id})">XX</a> [<span>{$imglist.xx}</span>]
				<a href="javascript:" class="tucao-btn" id="tt{$imglist.id}" onclick="tucao({$imglist.id})"> 吐槽 [{$imglist.replynum}] </a>
				</span>
			</div>
			<form method="post" id="comment_son{$imglist.id}" style="display:none;">
				<div style="display:none;">
					<input name="parent" value="{$imglist.id}">
				</div>
				<div class="hide-input">
					<p style='float: left;font-size: 12px;margin: 5px 0;'>
						<label for="author" style='style=" display: inline-block;max-width: 100%;margin-bottom: 5px;font-weight: 700;"'>称呼: </label><input style='border: 1px solid #EEE;font-family: "Microsoft YaHei",Tahoma,Arial;height: 20px;padding: 0 10px;width: 245px;' type="text" name="author" id="author{$imglist.id}" value="" title="常用的网络 ID，必填项" size="22" tabindex="1">
					</p>
				</div>
				<div class="">
					<textarea style="border: 1px solid #EEE;font-size: 14px;font-family: 'Microsoft YaHei',Tahoma,Arial;height: 50px; padding: 10px;width: 100%;resize: vertical;" name="comment" id="comment{$imglist.id}" rows="10" tabindex="4" onkeydown="if(event.ctrlKey&amp;&amp;event.keyCode==13){document.getElementById('submit{$imglist.id}').click();return false};"></textarea>
					<input type="hidden" value="妹子图" name="type"/>
				</div>
				<p>
					
					<if condition="$_SESSION[author]">
					<input style='background-color: #f9f9f9; border: 1px solid #EEE;cursor: pointer;font-family: "Microsoft YaHei",Tahoma,Arial;font-size: 12px;margin-bottom: 10px;padding: 2px 4px;' name="submit" id="submit{$imglist.id}" onclick="comment_son({$imglist.id})" type="submit" tabindex="5" value="点击发布 / Ctrl+Enter">
					<br/>

					<else />
					<a style='display:block;background-color: #f9f9f9;border: 1px solid #EEE;cursor: pointer;font-family: "Microsoft YaHei",Tahoma,Arial;font-size: 12px;margin-bottom: 10px;padding: 2px 4px;' href="{:U('login')}">点击发布 / 未登录？</a>
					<br/>
					</if>
				</p>
				<ol class="commentlist" style="list-style-type: none;">
				</ol>
			</form>
		</div>
		</foreach>
	</div>
	</li>
	<div class="comments">
		<h3>
		<p id="respond">
			发表评论</a>
		</p>
		</h3>
	</div>
	<form method="post" id="commentform">
		<div style="display:none;">
			<input name="parent" value="{$note.goods_id}">
		</div>
		<div class="hide-input">
			<p>
				<label for="author">称呼: </label><input type="text" name="author" id="author" value="" title="常用的网络 ID，必填项" size="22" tabindex="1">
			</p>
		</div>
		<div class="">
			<textarea name="url" id="comment" rows="10" tabindex="4" onkeydown="if(event.ctrlKey&amp;&amp;event.keyCode==13){document.getElementById('submit').click();return false};"></textarea>
			<input type="hidden" value="妹子图" name="tag"/>
		</div>
		<p>
			
			<if condition="$_SESSION[author]">
			<input name="submit" id="submit" type="submit" tabindex="5" value="点击发布 / Ctrl+Enter">
			<input type="hidden" name="comment_post_ID" value="92748">
			<br/>

			<else />
			<a style='display:block;background-color: #f9f9f9;border: 1px solid #EEE;cursor: pointer;font-family: "Microsoft YaHei",Tahoma,Arial;font-size: 12px;margin-bottom: 10px;padding: 2px 4px;' href="{:U('login')}">点击发布 / 未登录？</a>
			<br/>
			</if>
</p>
	</form>
	</main>
	<aside class="col-md-4 sidebar visible-lg-block">
	<div class="widget">
		<div class="cell">
			<strong>发图方法</strong>
			<div class="sep5">
			</div>
			<span class="fade_tips">上传到微博相册；右键复制图片地址，在评论框粘帖图片地址；等待更新。
请勿发布AV截图/裸体/露点图以及带有网址/商标/二维码等水印的图。
			</span>
			<div class="sep5">
			</div>
			<strong>版权声明</strong>
			<div class="sep5">
			</div>
			<span class="fade_tips">本页面图片皆为用户发布，适用避风港原则。如有涉嫌侵权图片，请邮件联系管理员，告知图片URL或者图片所在楼层(右上角的)编号以及侵权证据。
			</span>
		</div>
	</div>
	<ul id="list-title">
		<li class="list-item list-item-checked">24H热门</li>
		<li class="list-item">三日最赞</li>
		<li class="list-item">一周话题</li>
	</ul>
	<div class="host-list-split">
	</div>
	<div id="content-box">
		<div class="contents contents-checked">
			<ol>
				<foreach name="hotlist['day']" item="v">
				<li><a href="{:U('note',array('id'=>$v['goods_id']))}" title="{$v.goods_number}次浏览">{$v.goods_name}</a></li>
				</foreach>
			</ol>
		</div>
		<div class="contents">
			<ol>
				<foreach name="hotlist['week']" item="v">
				<li><a href="{:U('note',array('id'=>$v['goods_id']))}" title="{$v.goods_number}次浏览">{$v.goods_name}</a></li>
				</foreach>
			</ol>
		</div>
		<div class="contents">
			<ol>
				<foreach name="hotlist['month']" item="v">
				<li><a href="{:U('note',array('id'=>$v['goods_id']))}" title="{$v.goods_number}次浏览">{$v.goods_name}</a></li>
				</foreach>
			</ol>
		</div>
	</div>
	</aside>
</div>
<script>
function tucao(id){
	$('#submit'+id).after('<div id="loading'+id+'"class="loading"></div><div id="error'+id+'">#</div>');
	$('#loading'+id).hide();
	$('#error'+id).hide();
	$('#comment_son'+id).toggle();
	$('#comment_son'+id+' .commentlist li').remove();
	var comment_son_author='@'+'{$Think.session.author}';
	if (comment_son_author!=='@') {
		var comment_son_author=comment_son_author.replace(/@/g,"");
	   var comment_son_author = htmlEscape(decodeURIComponent(comment_son_author)); 
	   $('#comment_son'+id+' #author'+id+'').val(comment_son_author);  
	}
	$subid=$('#submit'+id);
	$subid.attr("disabled",false);
	$.ajax({  
		type : "POST",  //提交方式  
		url : "{:U('girl_list')}",//路径  
		data :{id:id,type:'妹子图'},//数据，这里使用的是Json格式进行传输  
		success : function(result){
		console.log(result[0]);
		var commentbox=new Array();
			<!-- var boxpush='onclick="document.getElementById("comment'+id+'").value= "@<a>尼格先生</a>:""'; -->
		authorArr=new Array();
			
			for(var i=0;i<result.length;i++){
				authorArr[result[i].id]=result[i].author
				
				commentbox[i]='<li id="comment-'+result[i].id+'" ><div><div class="row_comment_pic"><div class="author"><strong>'+result[i].author+'</strong><br><small><a href="javascript:;" title="">'+result[i].addtime+'</a></small></div><div class="text"><span class="righttext"><a href="#">'+result[i].id+'</a></span><p>'+result[i].comment+'</p></div><div class="jandan-vote"><span class="tucao-like-container"><a title="圈圈/支持" class="comment-like like" id="ooson'+result[i].id+'" href="javascript:oo_son('+result[i].id+')">OO</a> [<span id="cos_support-undefined">'+result[i].oo+'</span>]</span><span class="tucao-unlike-container"><a title="叉叉/反对" class="comment-unlike unlike"  id="xxson'+result[i].id+'" href="javascript:xx_son('+result[i].id+')">XX</a> [<span id="cos_unsupport-undefined">'+result[i].xx+'</span>]<a  class="tucao-btn" data-id="'+result[i].id+'" href="javascript:reply('+id+','+result[i].id+');"  > 回复</a></span></div></div><span class="break"></span></div></li>';
				$('#comment_son'+id+' .commentlist').append(commentbox[i]);
			}
		}  
	});  
}
function reply(id,rid){

	document.getElementById("comment"+id).value= "@<strong>"+authorArr[rid]+"</strong>: ";
}
function oo(id){
		var flag = sessionStorage.getItem('picoo'+id);
		console.log(flag)
		if(flag==null){
			$.ajax({  
				type : "POST",  //提交方式  
				url : "{:U('oo_pic')}",//路径  
				data :{id:id},//数据，这里使用的是Json格式进行传输  
				success : function(result){
					var oosize=parseInt($('#oo'+id).next().text());
					$('#oo'+id).next().text(oosize+1);
					sessionStorage.setItem('picoo'+id, true);
					
					console.log($('#oo'+id).next().text());
				}  
				});  
			}
			

}
function xx(id){
		var flag = sessionStorage.getItem('picxx'+id);
		console.log(flag)
		if(flag==null){
			$.ajax({  
				type : "POST",  //提交方式  
				url : "{:U('xx_pic')}",//路径  
				data :{id:id},//数据，这里使用的是Json格式进行传输  
				success : function(result){
					var oosize=parseInt($('#xx'+id).next().text());
					$('#xx'+id).next().text(oosize+1);
					sessionStorage.setItem('picxx'+id, true);
					
					console.log($('#xx'+id).next().text());
				}  
				});  
			}
			

}

function oo_son(id,type=3){
var flag = sessionStorage.getItem('commentoo'+id);
console.log(flag)
if(flag==null){
	$.ajax({  
		type : "POST",  //提交方式  
		url : "{:U('oo_inc')}",//路径  
		data :{id:id,type:type},//数据，这里使用的是Json格式进行传输  
		success : function(result){
			var oosize=parseInt($('#ooson'+id).next().text());
			$('#ooson'+id).next().text(oosize+1);
			sessionStorage.setItem('commentoo'+id, true);
			console.log($('#ooson'+id).next().text());
		}  
	});  
}
	

}
function xx_son(id,type=3){
	var flag = sessionStorage.getItem('commentxx'+id);
	console.log(flag)
	if(flag==null){
		$.ajax({  
			type : "POST",  //提交方式  
			url : "{:U('xx_dec')}",//路径  
			data :{id:id,type:type},//数据，这里使用的是Json格式进行传输  
			success : function(result){
				var oosize=parseInt($('#xxson'+id).next().text());
				$('#xxson'+id).next().text(oosize+1);
				sessionStorage.setItem('commentxx'+id, true);
				console.log($('#xxson'+id).next().text());
			}  
		});  
	}
			

}

function comment_son(id){
		$('#comment_son'+id).submit(function () {
				return false;
		});
		$('#loading'+id).slideDown();
		var obj = $('#comment_son'+id).serialize();
		$.ajax({  
			type : "POST",  //提交方式  
			url :  '{:U('Index/note_comment')}',//路径  
			data :obj,//数据，这里使用的是Json格式进行传输  
			error: function (request) {
				console.log(request.msg);
				$('#loading'+id).slideUp();
				var errorhtml = request.responseText;
				errorhtml = errorhtml.replace(/WordPress &rsaquo; Error/i, "");
				$('#error'+id).slideDown().html('<p style="color:red;"> ' + errorhtml + '</p> ');
				setTimeout(function () {
					$submit.attr('disabled', false).fadeTo('slow', 1);
					$('#error'+id).slideUp();
				}, 5000);
				},
			success : function(result){
			if(result.status==1){
				$('#loading'+id).slideUp();
				var errorhtml ='评论成功√';
				errorhtml = errorhtml.replace(/WordPress &rsaquo; Error/i, "");
				$('#error'+id).slideDown().html('<p style="color:green;"> ' + errorhtml + '</p> ');
				setTimeout(function () {
					$submit.attr('disabled', false).fadeTo('slow', 1);
					$('#error'+id).slideUp();
				}, 5000);
			}else{
				$('#loading'+id).slideUp();
				var errorhtml = result.msg;
				errorhtml = errorhtml.replace(/WordPress &rsaquo; Error/i, "");
				$('#error'+id).slideDown().html('<p style="color:red;"> ' + errorhtml + '</p> ');
				setTimeout(function () {
					$submit.attr('disabled', false).fadeTo('slow', 1);
					$('#error'+id).slideUp();
				}, 5000);
			} 
			}			
			});  
			return false;
			}
$().ready(function () {
	$(window).bind("scroll", function(){ 
					var top = $(this).scrollTop(); // 当前窗口的滚动距离
					if(top>300){
					var fixleft=parseInt($('.container.projects').css('margin-left'))+parseInt($('.col-md-8.main-content.bre').css('width'))+parseInt($('.col-md-8.main-content.bre').css('padding'))+15;
					console.log(top);
					$('.col-md-4.sidebar.visible-lg-block').css({"width": "380px","position":"fixed","transform":"translateZ(0)","left":""+fixleft+"px","top":"0px"});
					}else{
					$('.col-md-4.sidebar.visible-lg-block').removeAttr("style"); //ie,ff均支持
					}
	});
	$('.col-md-8').find('.gif-mask').each(function () {
					var $this = $(this);
					if ($this.height() > 50) {
						return;
					}
					$this.parent().css('position', 'relative');
					var img = $this.parent().find('.gif');
					var parent=$this.parent();
					var position = img.position();
					$this.css({
						'height': img.height(),
						'width': img.width(),
						'line-height': img.height() + 'px',
						'left': position.left,
						'top': position.top+21
					});
	});
	$('.gif-mask').click(function(){
		$this=$(this);
		$this.hide();
		$this.parent().find('.gif').click();
	});
	$('img.jpg').click(function(){
		$this=$(this);
		if($this.width()<=480&&$this.height()<=450){
		$this.css('max-width','100%').css('max-height','none');
		}else{
		$this.css('max-width','480px').css('max-height','450px');
		}
	});
			$submit = $('#commentform #submit');
			$submit.attr('disabled', false);
			$('#submit').after('<div id="loading"class="loading"></div><div id="error">#</div>');
			$('#loading').hide();
			$('#error').hide();
			function nl2br(str) {
				var breakTag = '<br>';
				return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
			}
			   $('#commentform').submit(function () {
				$('#loading').slideDown();
				$submit.attr('disabled', false);
				$.ajax({
					url: '{:U('Index/girl_comment')}',
					data: $(this).serialize(),
					type: $(this).attr('method'),
					error: function (request) {
						console.log(request.msg);
						$('#loading').slideUp();
						var errorhtml = request.responseText;
						errorhtml = errorhtml.replace(/WordPress &rsaquo; Error/i, "");
						$('#error').slideDown().html('<p style="color:red;"> ' + errorhtml + '</p> ');
						setTimeout(function () {
							$submit.attr('disabled', false).fadeTo('slow', 1);
							$('#error').slideUp();
						}, 5000);
					},
					success: function (res) {
						if(res.status==true){
							<!-- $('#loading').hide(); -->
							<!-- console.log(res.msg); -->
							$('textarea').each(function () {
								this.value = ''
							});
							$('#loading').slideUp();
							var errorhtml ='评论成功√';
							errorhtml = errorhtml.replace(/WordPress &rsaquo; Error/i, "");
							$('#error').slideDown().html('<p style="color:green;"> ' + errorhtml + '</p> ');
							setTimeout(function () {
							$submit.attr('disabled', false).fadeTo('slow', 1);
							$('#error').slideUp();
							}, 5000);
							<!-- $('#comment-' + res.parent).fadeIn(); -->
							<!-- $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body'); -->
							<!-- $body.animate({ -->
								<!-- scrollTop: $('#comment-' + res.parent).offset().top - 200 -->
							<!-- }, 900); -->
						}else{
							$('#loading').slideUp();
							var errorhtml = res.msg;
							errorhtml = errorhtml.replace(/WordPress &rsaquo; Error/i, "");
							$('#error').slideDown().html('<p style="color:red;"> ' + errorhtml + '</p> ');
							setTimeout(function () {
								$submit.attr('disabled', false).fadeTo('slow', 1);
								$('#error').slideUp();
							}, 5000);
						}
					}
				});
				return false
			});
					$('textarea').keypress(function (e) {
				if (e.ctrlKey && e.which == 13 || e.which == 10) {
					$(this).parent().submit()
				}
			});
			 var comment_author='@'+'{$Think.session.author}';
			if (comment_author!=='@') {
				comment_author=comment_author.replace(/@/g,"");
			   var author = htmlEscape(decodeURIComponent(comment_author)); 
			   $('#commentform #author').val(author); 
			   var edit = $('<a href="javascript:;">EDIT</a>').click(function() { 
					 $('#commentform .hide-input').toggle(); 
				 }); 
				$('#respond').html(author + ', 想说点什么? &nbsp;&nbsp;').append(edit);
				$('#commentform .hide-input').hide(); 
			}
			});
</script>