<div class="container projects">
	<main class="col-md-9 main-content bre">
	<if condition="$note[goods_big_logo] neq './Home/Public/img//loading.gif' and $note[goods_big_logo] neq ''">
	<img src="{$Think.config.LOCALHOST_URL}{$note.goods_big_logo}" style="width:100%"/>
	<div style="background-color: #69ad07;">
		<div style="color: #ffffff; margin: 0px 4px 0px 4px; text-align: right; font-size: 12px; line-height: 1.7em; background-color: #69ad07;">
			{$note.cate}/{$note.tag}
		</div>
	</div>
	</if>
	<div>
		<h2 class="notetitle">{$note.goods_name}</h2>
		<p class="time_s">
			@<a href="{:U('User/center',array('user'=>$userInfo['user_id']))}">{$note.author}</a>&nbsp;<a href="{:U('c',array('tab'=>$note['cate']))}">{$note.cate}</a>
			&nbsp;{$note.add_time|date='Y-m-d H:i',###}&nbsp;预计阅读{$note.read_time}分钟
		</p>
	</div>
	<div id="content">
		<div>
			{$note.goods_introduce}
			<if condition="$note[yurl] neq ''">
			<p>
				<em>本文译自{$note.yurl}/{$note.yauthor}，由译者 <a href="{:U('User/center',array('user'=>$userInfo['user_id']))}">{$note.author}</a> 基于创作共用协议(BY-NC)发布。</em>
			</p>
			</if>
		</div>
	</div>
	<div class="cont_copyright">
		<b>版权声明：</b>
	本站刊载的所有内容，文字、图片等资源均源于网上搜集或者由用户投稿，仅供学习和研究使用，无任何商业目的，其版权归原作者所有，对可以提供充分证据的侵权信息，本站将在确认后12小时内删除。
	</div>
	<div>
		<div style="clear:both;">
		</div>
		<h3 class="title" id="comments">TOTAL COMMENTS: {$comment_rows}<span class="plusone"><a href="#respond" title="来一发">+1</a></span></h3>
		<span class="break"></span>
		<div class="comments">
		</div>
		<ol class="commentlist" style="list-style-type: none;">
			<foreach name="comment" item="v">
			<li id="comment-{$v.id}">
			<div>
				<div class="row_comment">
					<div class="author">
						<strong  ><a  href="{:U('User/center',array('user'=>$v[user_id]))}">{$v.author}</a></strong><br>
						<small>{$v.addtime}</small>
					</div>
					<div class="text">
						<p>
							{$v.comment}
						</p>
					</div>
					<div class="jandan-vote">
						<span class="tucao-like-container">
							<a title="圈圈/支持" href="javascript:;" class="comment-like like" id="oo{$v.id}" data-id="{$v.id}" data-type="pos"  onclick="oo({$v.id})" >OO</a> [<span>{$v.oo}</span>]
						</span>
						<span class="tucao-unlike-container">
							<a title="叉叉/反对" href="javascript:;" class="comment-unlike unlike" id="xx{$v.id}" data-id="{$v.id}" data-type="neg" onclick="xx({$v.id})">XX</a> [<span>{$v.xx}</span>]
						
						</span>
						<span class="tucao-unlike-container">
							<a href="javascript:;" class="tucao-btn" data-id="{$v.id}" onclick="document.getElementById('comment').value= '@{$v.author}: '"> 回复</a>
						</span>
					</div>
				</div>
			</div>
			</li>
			</foreach>
		</ol>
		<script>
			function oo(id,type=1){
			var flag = sessionStorage.getItem('commentoo'+id);
			console.log(flag)
			if(flag==null){
				$.ajax({  
					type : "POST",  //提交方式  
					url : "{:U('oo_inc')}",//路径  
					data :{id:id,type:type},//数据，这里使用的是Json格式进行传输  
					success : function(result){
						var oosize=parseInt($('#oo'+id).next().text());
						$('#oo'+id).next().text(oosize+1);
						sessionStorage.setItem('commentoo'+id, true);
						console.log($('#oo'+id).next().text());
					}  
				});  
			}
				

			}
			function xx(id,type=1){
				var flag = sessionStorage.getItem('commentxx'+id);
				console.log(flag)
				if(flag==null){
					$.ajax({  
						type : "POST",  //提交方式  
						url : "{:U('xx_dec')}",//路径  
						data :{id:id,type:type},//数据，这里使用的是Json格式进行传输  
						success : function(result){
							var oosize=parseInt($('#xx'+id).next().text());
							$('#xx'+id).next().text(oosize+1);
							sessionStorage.setItem('commentxx'+id, true);
							console.log($('#xx'+id).next().text());
						}  
					});  
				}
						

			}
		</script>
		<div class="comments">
		</div>
		<span class="break"></span>
		<div class="comments">
			<h3>
			<p id="respond">
				发表评论</a>
			</p>
			</h3>
		</div>
		<form method="post" id="commentform">
			<div style="display:none;">
				<input name="parent" value="{$note.goods_id}">
			</div>
			<div class="hide-input">
				<p>
					<label for="author">称呼: </label><input type="text" name="author" id="author" value="" title="常用的网络 ID，必填项" size="22" tabindex="1">
				</p>
				<!-- <p><label for="email">邮箱: </label><input type="text" name="email" id="email" value="" title="真实 Email 地址，必填项" size="22" tabindex="2">
			</p>
			 -->
		</div>
		<!-- <div class="col-md-8 main-content'>
	</div>
	 -->
	<div class="">
		<textarea name="comment" id="comment" rows="10" tabindex="4" onkeydown="if(event.ctrlKey&amp;&amp;event.keyCode==13){document.getElementById('submit').click();return false};"></textarea>
	</div>
	<p>
		<if condition="$_SESSION[author]">
		<input name="submit" id="submit" type="submit" tabindex="5" value="点击发布 / Ctrl+Enter">
		<input type="hidden" name="comment_post_ID" value="">
		<br/>
		<else />
		<a style='display:block;background-color: #f9f9f9;border: 1px solid #EEE;cursor: pointer;font-family: "Microsoft YaHei",Tahoma,Arial;font-size: 12px;margin-bottom: 10px;padding: 2px 4px;' href="{:U('login')}">点击发布 / 未登录？</a>
		<br/>
		</if>
	</p>
</form>
</div>
</main>
<script>
window.onload = function main() {
            Tabs(".list-item", ".contents", "list-item-checked", "contents-checked");
        }
</script>
<aside class="col-md-3 sidebar visible-lg-block">
  <div class="panel panel-default corner-radius"> 
   <div class="panel-heading text-center"> 
    <h3 id="nice_comments" class="panel-title">作者:{$note.author}</h3> 
   </div> 
   <div class="panel-body text-center topic-author-box"> 
    <a href="{:U('User/center',array('user'=>$userInfo[user_id]))}"> 
	<if condition="mb_strlen($userInfo['t_headimg']) lt 100">
	<img src="{$userInfo.t_headimg|substr=1}" style="width:80px; height:80px;margin:5px;" class="img-thumbnail avatar" /> 
	<else /><img src="{$userInfo.t_headimg}" style="width:80px; height:80px;margin:5px;" class="img-thumbnail avatar" /> 
	</if>
	</a> 
    <div class="media-body padding-top-sm"> 
     <div class="media-heading"> 
      <svg width="14" height="16" viewbox="0 0 14 14" class="Icon Icon--male" aria-hidden="true" style="height: 16px; width: 14px;fill:#9fadc7;margin-bottom: 3px">
       <title></title>
       <g>
        <path d="M3.025 10.64c-1.367-1.366-1.367-3.582 0-4.95 1.367-1.366 3.583-1.366 4.95 0 1.367 1.368 1.367 3.584 0 4.95-1.367 1.368-3.583 1.368-4.95 0zm10.122-9.368c-.002-.414-.34-.75-.753-.753L8.322 0c-.413-.002-.746.33-.744.744.002.413.338.75.75.752l2.128.313c-.95.953-1.832 1.828-1.832 1.828-2.14-1.482-5.104-1.27-7.013.64-2.147 2.147-2.147 5.63 0 7.777 2.15 2.148 5.63 2.148 7.78 0 1.908-1.91 2.12-4.873.636-7.016l1.842-1.82.303 2.116c.003.414.34.75.753.753.413.002.746-.332.744-.745l-.52-4.073z" fill-rule="evenodd"></path>
       </g>
      </svg> 
      <div class="role-label text-white"> 
       <a class="label label-success role" href="{:U('User/center',array('user'=>$userInfo[user_id]))}">{$note.author}</a> 
      </div> 
      <span class="introduction"> {$userInfo.selfintroduction} </span> 
     </div> 
     <ul class="list-inline"> 
      <li><i class="fa fa-map-marker"></i> {$userInfo.address}</li> 
     </ul> 
     <div class="clearfix"></div> 
    </div> 
   </div> 
  </div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 id="nice_comments" class="panel-title text-center">Ta的动态</h3>
</div>
<div class="host-list-split">
</div>
<div id="content-box" class="panel-body">
<div class="contents contents-checked">
<ol>
<foreach name="hotlist" item="v">
<li><a href="{:U('note',array('id'=>$v['goods_id']))}" title="{$v.goods_number}次浏览">{$v.goods_name}</a></li>
</foreach>
</ol>
</div>
</div>
</div>
<ul class="panel panel-default">
<div class="panel-heading">
<h3 id="nice_comments" class="panel-title text-center">Nice Comments</h3>
</div>
<div class="hotcomment panel-body">
<foreach name="comment_nice" item="v">
<div class="in">
<div class="acv_author">
<a href="{:U('User/center',array('user=>$v[user_id]'))}">{$v.author}</a>
				{$v.addtime|date='Y-m-d H:i:s'} :
</div>
<div class="acv_comment ">
<p>
{$v.comment}
</p>
</div>
</div>
</foreach>
</div>
</ul>
</aside>
</div>
<div class='container projects'>
</div>
<script>
    (function(){
       $('pre').removeClass();

    })();
    $(document).ready(function () {
		if(document.body.clientWidth>768){
		//$('.pre-scrollable').attr('class',"brush:php;toolbar:false;");
		  $('pre').attr('style','box-sizing: border-box; overflow: auto;');
		}else{
                   
		  $('pre').attr('style','box-sizing:border-box;overflow:auto;font-size:14px;color:red;');
                }
		$(window).bind("scroll", function(){ 
				var top = $(this).scrollTop(); // 当前窗口的滚动距离
				if(top>300){
				var fixleft=parseInt($('.container.projects').css('margin-left'))+parseInt($('.col-md-8.main-content.bre').css('width'))+parseInt($('.col-md-8.main-content.bre').css('padding'))+15;
			    console.log(top);
			    $('.col-md-4.sidebar.visible-lg-block').css({"width": "310px","position":"fixed","transform":"translateZ(0)","left":""+fixleft+"px","top":"0px"});
				}else{
				$('.col-md-4.sidebar.visible-lg-block').removeAttr("style"); //ie,ff均支持
				}
			});
		$('#content img').each(function(){
			console.log($(this).width());
			if($(this).width()>$('#content').width()){
					var height=$(this).height()/$(this).width()*$('#content').width();
					$(this).css('width','100%');
					$(this).css('height',height);
			}
		});
        $comments = $('#comments-title');
        $cancel = $('#cancel-comment-reply-link');
        cancel_text = $cancel.text();
        $submit = $('#commentform #submit');
        $submit.attr('disabled', false);
        $('#submit').after('<div id="loading"class="loading"></div><div id="error">#</div>');
        $('#loading').hide();
        $('#error').hide();
        function nl2br(str) {
            var breakTag = '<br>';
            return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
        }
        $('#commentform').submit(function () {
            $('#loading').slideDown();
            $submit.attr('disabled', false);
            $.ajax({
                url: '{:U('Index/note_comment')}',
                data: $(this).serialize(),
                type: $(this).attr('method'),
                error: function (request) {
                    $('#loading').slideUp();
                    var errorhtml = request.responseText;
                    errorhtml = errorhtml.replace(/WordPress &rsaquo; Error/i, "");
                    $('#error').slideDown().html('<p style="color:red;"> ' + errorhtml + '</p> ');
                    setTimeout(function () {
                        $submit.attr('disabled', false).fadeTo('slow', 1);
                        $('#error').slideUp();
                    }, 5000);
                },
                success: function (res) {
				if(res.status==true){
                    <!-- $('#loading').hide(); -->
					$('#loading').slideUp();
					var errorhtml ='评论成功√';
					errorhtml = errorhtml.replace(/WordPress &rsaquo; Error/i, "");
					$('#error').slideDown().html('<p style="color:green;"> ' + errorhtml + '</p> ');
					setTimeout(function () {
						$submit.attr('disabled', false).fadeTo('slow', 1);
						$('#error').slideUp();
					}, 5000);
					console.log(res.msg);
                    var new_row = [];
                    new_row.push('<li id="comment-#id#" style="display:none;">');
                    new_row.push('<div>');
                    new_row.push('<div class="row_comment">');
                    new_row.push('<div class="author"><strong><a href="{:U("User/center",array("user"=>$_SESSION[userid]))}">'+ $('#author').val() +'</a></strong>');
                    new_row.push('<br>');
                    new_row.push('<small>');
                    new_row.push('<a href="javascript:;" title="@1min ago " >@1min ago </a>');
                    new_row.push('</small>');
                    new_row.push('</div>');
                    new_row.push('<div class="text">');
					new_row.push('<span class="righttext"><a href="#"></a></span>')
					new_row.push('<p>'+ nl2br($('#comment').val()) +'</p>');
					new_row.push('</div>');
					new_row.push('<div class="jandan-vote">');
                   /* new_row.push('<span class="tucao-like-container">');
                    new_row.push('<a title="圈圈/支持" class="comment-like like" id="vote4-#id#" href="javascript:acv_vote(#id#,1);">OO</a> [<span id="cos_support-#id#">0</span>]');
					new_row.push('</span>');
					*/
					/*
					new_row.push('<span class="tucao-unlike-container">');
                    new_row.push('<a title="叉叉/反对" class="comment-unlike unlike" id="votea-#id#" href="javascript:acv_vote(#id#,0);">XX</a> [<span id="cos_unsupport-#id#">0</span>]');
                    new_row.push('<a href="javascript:;" class="tucao-btn" data-id=""> 回复</a>');
					new_row.push('</span>');
					*/
					new_row.push('</div>');
                    new_row.push('</div>');
                    new_row.push('<span class="break"></span></div>');
                    new_row.push('</li>');
                    var new_row_html = new_row.join("\n").replace(/#id#/g, res.parent);
                    $('.commentlist').append(new_row_html);
                    $('textarea').each(function () {
                        this.value = ''
                    });
                    $('#comment-' + res.parent).fadeIn();
                    $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');
                    $body.animate({
                        scrollTop: $('#comment-' + res.parent).offset().top - 200
                    }, 900);
                }else{
					 $('#loading').slideUp();
                    var errorhtml = res.msg;
                    errorhtml = errorhtml.replace(/WordPress &rsaquo; Error/i, "");
                    $('#error').slideDown().html('<p style="color:red;"> ' + errorhtml + '</p> ');
                    setTimeout(function () {
                        $submit.attr('disabled', false).fadeTo('slow', 1);
                        $('#error').slideUp();
                    }, 5000);
			  }
			  }
			});
            return false
        });
        $('textarea').keypress(function (e) {
            if (e.ctrlKey && e.which == 13 || e.which == 10) {
                $(this).parent().submit()
            }
        });
        <!-- // 显示＠信息 -->
        <!-- $('.commentlist li p a').each(function () { -->
            <!-- var $this = $(this); -->
            <!-- if ($this.attr('href').match(/^#comment-/)) { -->
                <!-- $this.addClass('atreply').hover(function (e) { -->
                    <!-- $($this.attr('href')).clone().hide().insertAfter($this.parents('li')).attr('id', '').addClass('tip').fadeIn(200) -->
                <!-- }, function () { -->
                    <!-- $('.tip').fadeOut(400, function () { -->
                        <!-- $(this).remove() -->
                    <!-- }) -->
                <!-- }) -->
            <!-- } -->
        <!-- }); -->
         <!-- var comment_author = getCookie('comment_author_'+ $JANDAN.COOKIE_HASH); -->
		 var comment_author='@'+'{$Think.session.author}';
         <!-- var comment_email = getCookie('comment_author_email_'+ $JANDAN.COOKIE_HASH);  -->
        if (comment_author!=='@') {
			comment_author=comment_author.replace(/@/g,"");
           var author = htmlEscape(decodeURIComponent(comment_author)); 
           $('#commentform #author').val(author); 
           var edit = $('<a href="javascript:;">EDIT</a>').click(function() { 
                 $('.hide-input').toggle(); 
             }); 
            $('#respond').html(author + ', 想说点什么? &nbsp;&nbsp;').append(edit);
             $('.hide-input').hide(); 
        }
        <!-- if (comment_email) {  -->
             <!-- $('#commentform #email').val(decodeURIComponent(comment_email));  -->
        <!-- }  -->
    });
</script>
