<div class="container projects">
	
	
<main class=" col-md-8 main-content commentlist bre">
<div >
     <div class="pagination hidden-xs">{$list}</div>
	 <div class="pagination visible-xs-block">{$listm}</div>
	</div>
<li id="comment-3630937">
                <div>
					<foreach name="imglist" item="imglist">
                    <div class="row_comment">

                        <div class="author"><strong title="" class="">@{$imglist.author}</strong>                            <br>
                            <small><a href="#" >{$imglist.addtime|date='Y-m-d H:i',###}</a></small>
                        </div>
                        <div class="text">
							<span class="righttext">
								<a href="javascript:;">{$imglist.id}</a>
							</span>
							<p style="position: relative;">
								<a href="{$imglist.url}" target="_blank" class="view_img_link">[查看原图]</a><br>
								<if condition="$imglist[type] eq 'gif'">
								<img src="<?php echo (str_replace('mw690','thumb180',$imglist[url])); ?>" data-gif="{$imglist.url}" alt="GIF Loader" class="gif" style="max-width: 100%;
    max-height: 450px;">
								<div class="gif-mask">PLAY</div>
								<else/>
								<img src="{$imglist.url}"  style="max-width: 100%;max-height: 450px;" class="jpg">
								</if>
								
							</p>
                        </div>
                        <div class="jandan-vote">
                            <span class="tucao-like-container">
                            <a title="圈圈/支持" href="javascript:;" class="comment-like like" data-id="3630937" data-type="pos">OO</a> [<span>0</span>]
                            </span>
                            <span class="tucao-unlike-container">
                            <a title="叉叉/反对" href="javascript:;" class="comment-unlike unlike" data-id="3630937" data-type="neg">XX</a> [<span>0</span>]

                            <a href="javascript:;" class="tucao-btn" data-id="3630937"> 吐槽 [0] </a>
                            </span>
                        </div>
                    </div>
					</foreach>
                </div>
            </li>
			 <div class="comments">
	


        <h3>
            <p id="respond">发表评论</a></p>
        </h3>
    </div>


    
        <form method="post" id="commentform" >

			<div style="display:none;">
			<input name="parent"  value="{$note.goods_id}">
			</div>
            <div class="hide-input" >
                    <p><label for="author">称呼: </label><input type="text" name="author" id="author" value="" title="常用的网络 ID，必填项" size="22" tabindex="1"></p>

                    <!-- <p><label for="email">邮箱: </label><input type="text" name="email" id="email" value="" title="真实 Email 地址，必填项" size="22" tabindex="2"></p> -->
            </div>

			
            <div class="" >
			<textarea  name="url" id="comment" rows="10" tabindex="4" onkeydown="if(event.ctrlKey&amp;&amp;event.keyCode==13){document.getElementById('submit').click();return false};"></textarea>
			<input type="hidden" value="段子" name="tag" />
            </div>

            <p><input name="submit" id="submit" type="submit" tabindex="5" value="点击发布 / Ctrl+Enter">

                <input type="hidden" name="comment_post_ID" value="92748">
                <br/>
			</p>
            
        </form>
</main>
<aside class="col-md-4 sidebar visible-lg-block">
	<div class="widget">
                        <div class="cell">
                            <strong>发图方法</strong>
                            <div class="sep5"></div>
                            <span class="fade_tips">上传到微博相册；右键复制图片地址，在评论框粘帖图片地址；等待更新。
请勿发布AV截图/裸体/露点图以及带有网址/商标/二维码等水印的图。
</span>						<div class="sep5"></div>
							<strong>版权声明</strong>
                            <div class="sep5"></div>
                            <span class="fade_tips">本页面图片皆为用户发布，适用避风港原则。如有涉嫌侵权图片，请邮件联系管理员，告知图片URL或者图片所在楼层(右上角的)编号以及侵权证据。
</span>
                        </div>
                      
    </div>
	
	<ul id="list-title">
    <li class="list-item list-item-checked">24H热门</li>
    <li class="list-item">三日最赞</li>
    <li class="list-item">一周话题</li>
</ul>
<div class="host-list-split"></div>
<div id="content-box">
    <div class="contents contents-checked" >
	<ol>
	<foreach name="hotlist['day']" item="v">
		<li><a href="{:U('note',array('id'=>$v['goods_id']))}" title="{$v.goods_number}次浏览">{$v.goods_name}</a></li>
	</foreach>
		
	</ol>
	
	</div>
    <div class="contents" >
	
	<ol>
	<foreach name="hotlist['week']" item="v">
		<li><a href="{:U('note',array('id'=>$v['goods_id']))}" title="{$v.goods_number}次浏览">{$v.goods_name}</a></li>
	</foreach>
		
	</ol>
	</div>
	
    <div class="contents" >
	<ol>
	<foreach name="hotlist['month']" item="v">
		<li><a href="{:U('note',array('id'=>$v['goods_id']))}" title="{$v.goods_number}次浏览">{$v.goods_name}</a></li>

	</foreach>
		
	</ol>
	</div>
</div>
	
	


</aside>
</div>


<script>
$().ready(function () {
 $('.col-md-8').find('.gif-mask').each(function () {
                var $this = $(this);
                if ($this.height() > 50) {
                    return;
                }
                $this.parent().css('position', 'relative');
                var img = $this.parent().find('.gif');
				var parent=$this.parent();
                var position = img.position();
                $this.css({
                    'height': img.height(),
                    'width': img.width(),
                    'line-height': img.height() + 'px',
                    'left': position.left,
                    'top': position.top+21
                });
            });
$('.gif-mask').click(function(){
	$this=$(this);
	$this.hide();
	$this.parent().find('.gif').click();


});
$('img.jpg').click(function(){
	$this=$(this);
	if($this.width()<=480&&$this.height()<=450){
	$this.css('max-width','100%').css('max-height','none');
	}else{
	$this.css('max-width','480px').css('max-height','450px');
	}
	
});
	 
		$submit = $('#commentform #submit');
        $submit.attr('disabled', false);
        $('#comment').after('<div id="loading"class="loading"></div><div id="error">#</div>');
        $('#loading').hide();
        $('#error').hide();
        function nl2br(str) {
            var breakTag = '<br>';
            return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
        }
		   $('#commentform').submit(function () {
            $('#loading').slideDown();
            $submit.attr('disabled', false);
            $.ajax({
                url: '{:U('Index/girl_comment')}',
                data: $(this).serialize(),
                type: $(this).attr('method'),
                error: function (request) {
					console.log(request.msg);
                    $('#loading').slideUp();
                    var errorhtml = request.responseText;
                    errorhtml = errorhtml.replace(/WordPress &rsaquo; Error/i, "");
                    $('#error').slideDown().html('<p style="color:red;"> ' + errorhtml + '</p> ');
                    setTimeout(function () {
                        $submit.attr('disabled', false).fadeTo('slow', 1);
                        $('#error').slideUp();
                    }, 5000);
                },
                success: function (res) {
                    
					if(res.status==true){
						$('#loading').hide();
						console.log(res.msg);
						$('textarea').each(function () {
							this.value = ''
						});

						$('#comment-' + res.parent).fadeIn();
						$body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');
						$body.animate({
							scrollTop: $('#comment-' + res.parent).offset().top - 200
						}, 900);
					}else{
						$('#loading').slideUp();
						var errorhtml = res.msg;
						errorhtml = errorhtml.replace(/WordPress &rsaquo; Error/i, "");
						$('#error').slideDown().html('<p style="color:red;"> ' + errorhtml + '</p> ');
						setTimeout(function () {
							$submit.attr('disabled', false).fadeTo('slow', 1);
							$('#error').slideUp();
						}, 5000);
					}
				}
            });
            return false
        });
		        $('textarea').keypress(function (e) {
            if (e.ctrlKey && e.which == 13 || e.which == 10) {
                $(this).parent().submit()
            }
        });

       

		 var comment_author='@'+'{$Think.session.author}';
		 
        if (comment_author!=='@') {
			comment_author=comment_author.replace(/@/g,"");
           var author = htmlEscape(decodeURIComponent(comment_author)); 
           $('#commentform #author').val(author); 
           var edit = $('<a href="javascript:;">EDIT</a>').click(function() { 
                 $('.hide-input').toggle(); 
             }); 
            $('#respond').html(author + ', 想说点什么? &nbsp;&nbsp;').append(edit);
             $('.hide-input').hide(); 
        }
			});
</script>