<div class="container projects">

    <div class="projects-header page-header">
      <h2>5iWeb.NET|专注lnmp与极客</h2>
      <p>Web前端开发网页特效与PHP教程编程设计</p>
    </div>

    <div class="thumbnail">
		
		<img   src="{$Think.config.LOCALHOST_URL}{$src.goods_big_logo|substr=1}" class="img-responsive">
		<div class="caseInfos"></div>
		<div class="caseExplain">
			<div class="bs-callout bs-callout-danger">版权声明：本文为www.5iweb.net原创文章，未经允许不得转载。</div>
			<div>{$src.goods_introduce}</div>
		
			
		</div>
		<div class="caseBtn">
			
			
		</div>
		<div class="btn-group btn-center" role="group" aria-label="..."  >
		  <a href="{$src.preview}" class="caseBtna" target="_blank" ><button type="button" class="btn btn-default">预览</button></a>
		  <a href="{$src.download}" class="caseBtnb"><button type="button" class="btn btn-default">下载</button></a>
		  
		</div>
  </div>