.block_tab{background-color: #fff;margin-bottom: 25px;width:1280px;margin:25px auto;}
.block_tab_inner {padding: 22px 35px 26px;}
.block_title{float:left;line-height:36px;height:36px;font-size:22px;color:#333;margin-right:26px;}
.tab_controls{float:left;font-size:14px;}
.tab_control{display:inline-block;line-height:34px;height:34px;border:1px solid #e4e4e4;padding:0 10px;}
.tab_control.on{background-color:#4a4a4a;color:#fff;}
.helper_link{display:inline-block;float:right;line-height:36px;height:36px;font-size:16px;color:#999;}
.tab_content_wrapper{height:380px;margin-top:60px;position:relative;}
.tab_content{position: absolute;left: 0;right: 0;bottom: 0;top:0;}

.content_column{width:350px;padding-right:40px;float:left;}
.column_title{font-size:18px;height:36px;line-height:36px;color:#262626;}
.column_link_list{min-height:180px;}
.column_link_list .li_item{white-space: nowrap;line-height: 30px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.column_link_list li a{ color: #4a4a4a;font-size: 14px;}
.column_link_list .tips{float: left;color: #fff;line-height: 16px;height: 16px;font-size: 12px;padding: 0 3px;border-radius: 2px;margin: 6px 9px 0 0;}
.column_link_list .tip1{background-color:#98e47a;}
.column_link_list .tip2{background-color:#9bc6f2;}
.column_link_list .tip3{background-color:#e97575;}

.pic_list_link{float:left;display:inline-block;width:150px;height:82.5px;margin:0 15px 0 0;}
.pic_list_link img {width:100%;height:82px;}

.cotent_column_pic{width:400px;padding-right:30px;float:left;}
.cotent_column_pic .class_item{float: left;width: 160px;margin: 0 40px 0 0;height: 146px;margin-bottom:32px;}
.cotent_column_pic .class_item img{width:100%;height:82px;}
.pic_list_link .class_name{padding-top: 8px;color: #999;line-height: 20px;height: 40px;overflow: hidden;word-break: break-all;font-size: 13px;}


