*{ margin:0; padding:0; }
body, h1, h2, h3, h4, h5, h6, hr, p,blockquote,dl, dt, dd, ul, ol, li,pre,form, fieldset, legend, button,input, textarea,th, td,img{border:medium none;margin: 0;padding: 0;}
body,button, input, select, textarea {font: 16px/1.5 "微软雅黑", tahoma, Srial, helvetica, sans-serif; }
body{background:#f2f2f2;min-width:1280px;}
h1, h2, h3, h4, h5, h6 { font-weight:400; }
em{font-style:normal;}
ul, ol,li { list-style: none; }
a { text-decoration: none; color:#4e4e4e;}

img{ border:0px;}
img {width:100%;height:100%;-ms-interpolation-mode: bicubic;vertical-align: middle;-moz-animation: fadein 350ms ease-out;-webkit-animation: fadein 350ms ease-out;-o-animation: fadein 350ms ease-out;animation: fadein 350ms ease-out;}



/*-------------------------------自定义css animation---------------------------------------*/
@-webkit-keyframes fadein{
    from{opacity: 0; }
    to{opacity: 1; }
}
@-moz-keyframes fadein{
    from{opacity: 0; }
    to{opacity: 1; }
}
@-o-keyframes fadein{
    from{opacity: 0; }
    to{opacity: 1; }
} 
@keyframes fadein{
    from{opacity: 0; }
    to{opacity: 1; }
}
@keyframes focusa {
            0%,10%{
				left:0;
				
                
            }
            15%,25%{
               left:+230px;
            }
            30%,40%{
                left:+460px;
            }
			50%,60%{
                left:+230px;
            }
			70%,100%{
                left:+0px;
            }
			
            
           
        }
@keyframes focusmap {
            0%,10%{
                left: 0;
            }
            15%,25%{
                left: -690px;
            }
            30%,40%{
                left: -1380px;
            }
			50%,60%{
                left: -690px;
            }
			70%,100%{
                left: 0px;
            }
           
           
        }
       
.fl{float:left;}
.fr{float:right;}
.tc{text-align:center;}
.dn{display:none;}
.oh{overflow:hidden;}

.container{width:100%;height:auto;}
/*-----------------------------------头部+导航栏--------------------------------------------*/
#header{ width:100%; height:120px; background:url(../images/top_bg.jpg) repeat-x;}
.header{ width:100%; height:120px; margin:0 auto;}
@media screen and (max-width:1280px){
	.header{ width:1280px; height:120px; margin:0 auto;}
   
}
.top{ width:100%; height:50px; background:#2b2b2b; position:relative;}
.top .logo{ width:300px; height:50px; float:left;}
.top .weibo{ width:300px; height:25px; position:absolute; right:0px; }
.top .slogan{ width:500px; height:50px; text-align:right;line-height:50px; position:absolute; right:0px; bottom:0px; font-size:12px; color: #CCCCCC;}
.nav{ width:100%; height:60px;}
.nav ul{ width:100%;}
.nav ul li{ float:left; line-height:60px; font-size:12px; width:12.50%;}
.nav ul li a{ width:100%;display:block; height:60px; text-align:center; position:relative;-webkit-perspective:100px; overflow:hidden;}

.nav ul li a .navBox{-webkit-transition: all .6s ease;-webkit-transform-origin: 10px 10px 10px; position:absolute; width:100%; height:60px;}
.nav ul li a .navBox.box1{-webkit-transform: rotateY(90deg);color:#fff;}
.nav ul li a .navBox.box2{-webkit-transform: rotateY(0deg); background-color:#fff;}
.nav ul li a:hover .navBox.box1{-webkit-transform: rotateY(0deg);background-color:#f2f2f2;}
.nav ul li a:hover .navBox.box2{-webkit-transform: rotateY(-90deg);}

.search{ width:600px; height:50px; }
.searchWords{ width:auto; float:right; font-size:12px; margin-right:10px; overflow: hidden; margin-top: 15px; color: #CCCCCC;}
.searchWords a{ padding:0px 5px; color: #fff;}
.searchWords a:hover{ color: #434649;}
.searchInput{ width:250px; float:right; background:#434649; height:30px; margin:9px 9px 9px 0px; border:1px solid #434649;-webkit-transition-duration:0.3s; -moz-transition-duration:0.3s;transition-duration:0.3s;}
.searchInput .searchText{ width:215px; height:30px; float:left; border:none; background:none; padding-left:5px; color:#fff;font-size:12px; outline:none;}
.searchInput .searchBtn{ width:30px; height:30px; float:left; background:url(../images/search_bg.jpg) no-repeat; cursor:pointer;}
.searchInput.blur{ border-color:#fff;}

/*-----------------------------------头部+导航栏end--------------------------------------------*/

/*-----------------------------------banner--------------------------------------------*/

.banner{height:380px;;width:1280px;margin:0 auto;background-color:#fff;box-shadow:4px 4px 6px #292929;}
.bannermenu{width:350px;height:380px;float:left;margin:0px 10px 0px 0px;background:#434649;}
/*.bannermenu a{display:block;height:115px;line-height:115px;margin-top:5px;text-align:center;*/
/*vertical-align:middle;--只对行内元素有效--*//*text-decoration:none;color:#F7F9F8;font-size:25px;transition:all .3s ease-in 0s;}*/

/*.bannermenu a:hover{background-color:#2b2b2b;transform:translate3d(0,-2px,0)}
.bannermenu a.active{background-color:#2b2b2b;height:135px;line-height:135px;}*/

.bannercontent{margin-left:190px;/*给定height,width会自动最大空间化(可以理解为继承)；反之则不能。适用于父级设定了width;----calvin*/height:auto !important;min-height:380px;background:#ffffff;/*background:url(./images/bannerbg.jpg);*/}
.bannercontent .contentbox{/*-父级固定width才能继承,auto不能;---calvin-*/height:380px;/*background: -webkit-linear-gradient(rgba(255,255,255,0.95) 0px, rgba(43,43,43,0.7) 100%) repeat;background: -oz-linear-gradient(rgba(255,255,255,0.95) 0px, rgba(43,43,43,0.7) 100%) repeat;*/}
.bannercontent .contentbox .cbox{position:relative;height:380px;animation: fadein 350ms cubic-bezier(0.55, 0.06, 0.68, 0.19);}

/*-------------------------------------快速导航-----------------------------*/
.menuTitle {
    width: 346px;
    height: 40px;
    line-height: 40px;
    
    border-bottom: 1px solid #e5e5e5;
    padding-left:10px;  
    font-weight: bolder;
	border-left: 4px solid #fac400;
   
}
.menuTitle a {
    text-decoration: none;
    color: #F7F9F8;
}
.bannermenu ul {
    
    height: auto;
    margin-top: 10px;
    overflow: hidden;
}
.bannermenu ul li {
    width: 75px;
    height: 35px;
    float: left;
    margin-left: 10px;
    font-size: 12px;
    line-height: 35px;
    background-color: #fff;
    text-align: center;
    margin-bottom: 10px;
}
.bannermenu ul li a {
    display: block;
    width: 100%;
    height: 35px;
	text-decoration: none;
    color: #3e3e3e;
}
/*.bannermenu a:hover{background-color:#2b2b2b;transform:translate3d(0,-2px,0)}
.bannermenu a.active{background-color:#2b2b2b;height:135px;line-height:135px;}*/


/*-----------------------------------cbox-3--------------------------------------------*/
 #banner{position: relative;width: 690px;height: 380px;overflow: hidden;/*隐藏溢出的图片*/}
.pic{width:2070px;/*4张图的宽度*/position: absolute;/*基于父容器进行定位*/left:0px;animation:focusmap 12s infinite;/*animation-name:focusmap;animation-duration: 12s;animation-iteration-count: infinite;*/}
/*用于制作banner动态*/
.pichover{width:2070px;/*3张图的宽度*/position: absolute;/*基于父容器进行定位*/left:0px !important;}
.pichover1{width:2070px;/*3张图的宽度*/position: absolute;/*基于父容器进行定位*/left:-690px !important;}
.pichover2{width:2070px;/*3张图的宽度*/position: absolute;/*基于父容器进行定位*/left:-1380px !important;}
/* end */
#pic a{display:block;position:relative;}
#pic li{float: left;}
#pic li img {width: 690px;height: 380px;}
#pic a span{position:absolute;bottom:0px;left:0px;height:35px;width:690px;overflow:hidden;line-height:35px;white-space:nowrap;text-overflow:ellipsis;font-weight:bolder;font-size:14px;background:rgba(43,43,43,0.5);color:#f8f7f9;}
.order{position:absolute;bottom:0px;height:35px;width:690px;left:0;}

.order a{display:block;float:left;width:230px;height:30px;background:rgba(43,43,43,0.5);border-bottom:5px solid #FFFFFF;}
.order a.on{border-bottom:5px solid #2b2b2b;}
.float{position:absolute;bottom:0px;height:5px;width:230px;left:0;animation:focusa 12s infinite;background:#2b2b2b;}
/*用于制作banner动态*/
.floathover{position:absolute;bottom:0px;height:5px;width:230px;left:0;background:#2b2b2b;}
.floathover1{position:absolute;bottom:0px;height:5px;width:230px;left:230px;background:#2b2b2b;}
.floathover2{position:absolute;bottom:0px;height:5px;width:230px;left:460px;background:#2b2b2b;}
/* end */
#banner-s{position:absolute;width:220px;height:380px;background:#FFF;right:0px;top:0px;}
#banner-s span{display:block;float:left;width:215px;height:116px;position: relative;margin:5px 0 5px 0;}
/* #banner-s span.active{border-left: 4px solid #f96a6a;-webkit-transform:scale(1.03,1.0); -moz-transform:scale(1.03,1.0);transform:scale(1.03,1.0);} */
#banner-s span.active{border-right: 4px solid #f96a6a;} 
#banner-s img{width:210px;height:116px;}     
/*-----------------------------------banner end--------------------------------------------*/

/*-----------------------------------content star--------------------------------------------*/
.content{width:1280px;height:auto;margin:25px auto;padding:20px 0px 0px 0px;}
.contenttop{height:40px;line-height:40px;border-bottom:1px solid #e5e5e5;margin:15px auto;}
.contenttop h2{border-left:4px solid #f96a6a;padding-left:10px;}
.caselist{width:1280px;height:auto;position:relative;color:#4a4a4a;}
.caselist ul{width:1310px;height:auto;}
.caselist li{width:300px;height:165px;float:left;margin:10px 26px 50px 0px;position:relative;}
.casethum{width:300px;height:165px;position:relative;overflow:hidden;}

.casethum img{width:300px;height:165px;position:absolute;top:0px;left:0px;display:block;-webkit-transition-duration: 0.3s;transition:all .3s ease-in 0s;}
.casebottom{width:300px;height:80px;position:absolute;left:0px;bottom:-80px;}
.casename{padding-left:10px;height:40px;line-height:40px;white-space: nowrap;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;background:#fff;font-size:16px;}
.caseinfo{height:40px;display:none;}
.casehit{width: 35px;padding-left: 25px;height: 15px;float: left;font-size: 8px;line-height: 15px;margin-top: 20px;margin-left: 10px;}
.casehit.ll{background: url(../images/icons.png) -20px 0px no-repeat;}
.casetime{width: 100px;height: 15px;float: right;font-size: 8px;line-height: 15px;text-align: right;margin-top:20px;margin-right: 10px;}

.caselist ul li a:hover .casebottom{bottom:-40px;background:#fac400;color:#f7f9f8; }
.caselist ul li a:hover .casename{background:#fac400}
.caselist ul li a:hover .caseinfo{border-top:1px solid #f7f9f8;display:block;background:#fac400 }
.caselist ul li a:hover .casethum img{-webkit-transform:scale(1.05,1.05); -moz-transform:scale(1.05,1.05);transform:scale(1.05,1.05);}
.ajaxmore{width:1280px;margin:0 aauto;}
.ajaxmore a{display:block;width:200px;height:70px;margin:auto;line-height:70px;font-size:21px;font-weight:bold;background:#fac400;box-shadow:10px 10px 30px #292929;}
/*-----------------------------------content end--------------------------------------------*/
/*-----------------------------------footer star--------------------------------------------*/
.copyright{width:100%;background: #2b2b2b;color: #fff;text-align: center;font-size: 14px;line-height: 1.5;padding: 30px 0;}
@media screen and (max-width:1280px){
    .copyright{width:1280px;background: #2b2b2b;color: #fff;text-align: center;font-size: 14px;line-height: 1.5;padding: 30px 0;}
}
/*-------nav change--------*/
.fixednav {position: fixed;top: 0px;left: 0px;width: 100%;z-index: 1;}






