.subTips{width:1280px;height:auto;background-color:#fff;margin:0 auto; margin-top:20px;overflow:hidden;margin-bottom:15px;}
.subTips strong{display:block;line-height:50px;text-indent:20px;font-size:24px;float:left;color:#4e4e4e;}
.tips{line-height:50px;font-size:14px;float:right;margin-right:15px;color:#4e4e4e;}
.caseL{width:980px;height:auto;float:left;border-right:1px solid #e5e5e5;}
.caseLtips{width:100%;height:40px;line-height:40px;color: #adadad;padding-left:100px;}
.caseLtips span{margin-right:15px;}
.caseImg{width:600px;height:360px;background-color:#ccc;float:left;margin-left:190px;}
.caseInfos{width:600px;height:auto;float:left;margin-left:190px;font-size:24px;font-weight:bold;font-family:georgian;}
.caseExplain{width:779px;padding:15px 0px;height:auto;margin-left:100px;float:left;margin-top:15px;border-top:5px solid #e5e5e5;word-wrap: break-word;clear: both;}
.h3{display:block;width:100%;height:25px;line-height:25px;color:#4e4e4e;font-size:14px;font-weight:bold;padding-left: 10px;}
.blmb{border-left:solid 3px #f96a6a;margin-bottom:10px;}
.caseBtn{width:600px;height:50px;float:left;margin-left:190px;margin-top:20px;}
.caseBtna{width:170px;height:50px;line-height:50px;text-align:center;font-size:20px;color:#4e4e4e;display:block;float:left;margin:0 5px 0 125px;background:url(../img/downloadicon.png) no-repeat;background-color:#fac400;}
.caseBtnb{width:170px;height:50px;line-height:50px;text-align:center;font-size:20px;color:#fff;display:block;float:left;background:url(../img/downloadicon.png) no-repeat;background-color:#4e4e4e;background-position:0px -50px;}
.caseOther{width:779px;float:left;height:auto;margin-left:100px;border-top:5px solid #e5e5e5;margin-top:25px;overflow:hidden;}
.caseOther ul{width:100%;height:auto;padding-bottom:50px;overflow:hidden;}
.caseOther .item{width:245px;height:195px;float:left;margin-right:20px;background-color:#00cccc;}
.item img{width:245px;height:145px;display:block;}
.item div{width:100%;height:50px;line-height:50px;text-align:center;font-size:12px;background:#f1f1f1;overflow:hidden;}


.caseR{width:260px;height:auto;float:right;margin-right:20px;}
.hotTips{width:246px;height:40px;line-height:40px;border-left:4px solid #68c85e;font-size:16px;border-bottom:1px solid #e5e5e5;padding-left:10px;}
.hotTips h2{font-size:20px;font-weight:bold;color:#4e4e4e;}
.hotList{width:260px;height:auto;margin-top:15px;overflow:hidden;}
.hotList ul{width:270px;height:auto;}
.hotList li{width:125px;height:75px;float:left;margin-right:10px;margin-bottom:10px;}
.hostList li img{width:125px;height:75px;}

.hotWeb{width:260px;height:auto;margin-top:15px;}
.hotWeb ul li{width:260px;height:50px;margin-bottom:10px;color:#3e3e3e;font-size:12px;}
.webThumb{width:85px;height:50px;float:left;}
.webName{width:165px;height:30px;line-height:30px;float:right;white-space: nowrap;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.webTime{width:165px;height:20px;line-height:20px;float:right;}
.hotTags{width:260px;height:auto;margin-top:15px;}
.hotTags a{display:block;width:auto;padding:0px 10px;float:left;height:25px;line-height:25px;background:#e7e7e7;margin:0px 10px 10px 0px;}
 
