html,body,#app{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
a{
	color: black;
	text-decoration: none;
}
#app>div{
	height:100%;
}
.cue{
	height: 6%;
	width: 100%;
	padding-top: 4%;
	text-align: center;
	background: #fa6e31;
	color: #fff;
	font-size: 0.32rem;
	position: fixed;
	top: 0;
	left: 0;
}
.type{
	width: 85%;
	height: auto;
	margin-left: 4%;
	font-size: 0.3rem;
	color: #FA6E31;
}
#cellphonetype li{
	width: 100%;
}
.selection{
	margin: 20px 0;
}
.choose{
	height: 0.5rem;
	list-style: none;
	margin-left: -25px;
}
.choose span{
	display: block;
	float: left;
	width: 26%;
	margin: 0 1.4%;
	border: 1px solid #FA6E31;
	border-radius: 5px;
	color: #FA6E31;
	text-align: center;
}
.choose .pitch{
	border: 1px solid #FA6E31;
	color: white;
	background: #FA6E31
}
.nopitch{
	border: 1px dashed #bababa;
	color: #bababa;
	background: #fff;
}
.sub{
	width: 100%;
	height: 8%;
	position: fixed;
	left: 0;
	bottom: 0;
	color: #fff;
	background: #FA6E31;
	font-size: 14px;
}
#mit{
	border: 2px solid #fff;
	width: 22%;
	font-size: 0.3rem;
	margin: 0.2rem auto;
	text-align: center;
	border-radius: 8px;
	padding: 0.02rem;
}
#buy{
	display: block;
	color: #fff;
	width: 100%;
	height: 100%;
}
#window{
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	z-index: 999;
}
#window img{
	width: 53%; 
	position: absolute;
	top: 36%;
	left: 23.5%;
}
#pleasce{
	position: absolute;
	width: 50%;
	left: 25%;
	top: 4.5rem;
	font-size: 0.32rem;
	z-index: 999;
	color: white;
	font-weight: 600;
	text-align: center;
}