
.entry-list .item-main {
    /* border-top: 0 none;
    clear: both;
    font-size: 15px;
    line-height: 1.35em; */
    border-bottom: 1px solid rgba(178, 186, 194, .15);
}

.entry-list {
    /* float: left;
    overflow: hidden;
    padding-bottom: 16px;
    padding-top: 16px;
    border-bottom: 1px solid #eee;
    width: 100%; */
    width: 100%;
    background-color: #fff;
}

.entry-list .content-box {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.167rem 2rem;
    min-height: 5.75rem;
}

.entry-list .info-box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 0;
}

.entry-list .title-row {
    margin: .5rem 0 .8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entry-list .meta-row {
    font-size: 1rem;
    color: #8f969c;
}

.entry-list .title-row .title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2;
    color: #2e3135;
}

.entry-list .meta-row .meta-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    white-space: nowrap;
}

.entry-list .meta-row .meta-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    white-space: nowrap;
}

.entry-list .entry-link {
    display: block;
}

.meta-list .item .category-title.frontend, .category-title.frontend {
    background-color: #42c67d;
}

.meta-list .item .category-title.adventure, .category-title.adventure {
    background-color: #56c4e1;
}

.meta-list .item .category-title.animal, .category-title.animal {
    background-color: #857dea;
}

.meta-list .item .category-title.research, .category-title.research {
    background-color: #e8596b;
}

.meta-list .item .category-title, .category-title {
    display: inline-block;
    margin-right: 1.2rem;
    padding: .38rem 0;
    min-width: 4.5rem;
    text-align: center;
    line-height: 1;
    color: #fff;
    background-color: #c69f42;
    border-radius: 2px;
}

.meta-list .item.username {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.meta-list .item {
    content: "\B7";
    margin: 0 .4em;
    color: #8f969c;
}

.entry-list .post .thumbs_b {
    float: left;
    padding-left: 0px;
}

a.node:active, a.node:link, a.node:visited {
    font-size: 10px;
    display: inline-block;
    padding: 1px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    color: #999;
}

a.noul {
    text-decoration: none;
}

div.cc {
    color: #ccc;
    font-size: 86%;
    line-height: 120%;
    text-align: left;
    display: flex;
    flex: 0 1 auto;
}

li.theme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.75rem 0;
    border-bottom: 1px solid #e2e2e2;
    min-height: 5.75rem;

}
.theme .info-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-box .title-bottom{
    height:20px;
    width:100px;
    margin-left:2rem;
    border:1px solid #edeeef;
    color: #b2bac2;
    display: inline-flex;
    white-space: nowrap;
    justify-content: space-around;
}

.title-bottom span {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.item_title {
    font-size: 16px;
    line-height: 130%;
    text-shadow: 0 1px 0 #fff;
    font-weight: 500;
    word-wrap: break-word;

}

.item_title a {
    color: #213135;

    font-size:13px;
    line-height: 1.2;
}

.item_title a:visited {
    color: #90979c;

    font-size:13px;
    line-height: 1.2;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.entry-list .theme .title-index {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 auto;
    padding-left: 2rem;
}
