.view-setting-view{
	margin-bottom: 2rem;

    max-width: 100%;
	margin-top: 5.6rem;
}
.view-setting-view .sub-view-box{
	
	position: relative;
    padding: 2.7rem 4rem 7rem;
    background-color: #fff;
    border-radius: 2px;
}
.view-setting-view .shadow{
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}
.setting-list .item{
	padding:1rem 0;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2rem 0;
    border-top: 1px solid #f1f1f1;
	-webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.setting-list .item .title{
	width:10rem;
}
.setting-list .item .avatar-uploader{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
	
}
.setting-list .item .input-box{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
	-webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
	
}
.setting-list .item .input{
	-webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: inline-block;
    border: none;
    outline: none;
    color: #909090;
    font-size: 1.3rem;
}
.setting-list .item .action-box{
	margin-left: 4.25rem;
	
	
}
#headimg-upd-div{

	
}