/****public css****/
body {
	background-color:#f4f4f5
}

div {
}

.syntaxhighlighter tr td.gutter {
	padding: 0px !important;
}

* {
	padding: 0px;
	margin: 0px;
}

a, a:link, a:visited {
	font-style: normal;
	font-weight: normal;
	color: #90979c;
	text-decoration: none;
}
.container.projects{
	padding:0px;
}
.nav-item.auth{
    color: #007fff;
    font-size: 1.4rem;
    cursor: pointer;
    padding-left: 2.5rem;
}
.navbar-toggle.collapsed{
	    border-color: #007fff;
}
.navbar-toggle.collapsed:hover{
	    background-color: #fff;
}
a.navbar-brand.hidden-sm{
	font-size: 1.4rem;
    color: #007fff;
}
.navbar-toggle.collapsed .icon-bar{
	    background-color: #007fff;
}
.main-content{
	background-color:#fff;
}
.hotcomment::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: #F5F5F5;
}

.hotcomment::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #AAA;
}
#content-box::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: #F5F5F5;
}

#content-box::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #AAA;
}

.navbar-nav>li>a:hover {
	background: #fff;
	color: #007fff !important;
}

ul,ol,li {
	list-style: none;
	margin-bottom: 0px;
}

strong, b {
	font-weight: bold;
	color: #333;
}
/*****custom****/
.pdt40 {
	padding-top: 40px;
}

.pdl0 {
	padding-left: 0px;
}

.break {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	width: 0;
}

.tac {
	text-align: center;
}

.pdb0 {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.mh0 {
	min-height: 0px;
}

.mh5 {
	min-height: 5px;
}

.mh10 {
	min-height: 10px;
}

.mh15 {
	min-height: 15px;
}

.small {
	font-size: 11px;
}

.999 {
	color: #888;
}

.time_s {
	color: #888;
	font-size: 12px;
	font-weight: normal;
}

.time_s a {
	color: #888;
}

.bc4c {
	background: #fff;
	/* box-shadow: 0 2px 5px rgba(0,0,0,.4); */
}

.bcfa {
	background-color: #fafafa !important;
}

.navbc {
	border-top: 1px solid #555;
	border-bottom: 3px solid #69ad07;
}

.cr {
	color: #d9534f !important;
}

.gnicon-home, .gnicon-search, .gnicon-notice, .gnicon-msg, .gnicon-set, .gnicon-close, .gncion-arrowd, .gnicon-close-small, .gnicon-add, .gnicon-tick, .gnicon-cancel, .gnicon-mail, .gnicon-fresh, .gnicon-set {
	background: url(../img/101829d3.header-icon.png) no-repeat;
	display: inline-block;
	text-indent: -9999px;
	overflow: hidden;
	vertical-align: middle;
}

.gnicon-home {
	background-position: 0 2px;
	width: 16px;
	height: 18px;
	margin-right: 5px;
	float: left;
}

#search {
	position: absolute;
	right: 0;
	top: 8px;
	width: 300px;
}

#search-btn {
	cursor: pointer;
	position: absolute;
	top: 3px;
	right: 0;
	color: #888;
	background-color: transparent;
}

.gheader-logo {
	background: url(../img/header-logo-xs.png) no-repeat;
	height: 18px;
	width: 92px;
	line-height: 10em;
	overflow: hidden;
}

.pagination {
	text-align: center;
	font-size: 12px;
	padding: 0px;
	display: inline-block
}

.pagination a,.pagination span {
	display: inline-block;
	padding: 0 10px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #ddd;
	border-radius: 4px;
	text-decoration: none;
	color: #888;
	cursor: pointer;
	margin-right: 5px;
}

.pagination a:hover:not(.disabled):not(.current),.pagination span:hover:not(.disabled):not(.current) {
	color: #007fff;
}

.pagination a.disabled,.pagination span.disabled {
	color: #bfbfbf;
	background: #f5f5f5;
	cursor: no-drop;
	border: 1px solid #ddd;
}

.pagination a.current,.pagination span.current {
	color: #fff;
	background: #f04848;
	border: 1px solid #f04848;
}

em {
	color: #888;
	font-size: 13px;
	font-style: normal;
}

.bre {
	min-height:0px;
}
.h0{
	min-height:0px !important;
}
/****custom end****/
.projects .thumbnai {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 310px;
	margin-bottom: 30px;
	border-radius: 0;
}

.btn-center {
	display: table;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	bottom: 5px;
}

.caseExplain {
	margin-bottom: 20px;
}





.entry-list .title a {
	color: #4f4f4f;
}

.entry-list h3 {
	color: #333;
	font-size: 14px;
}

.entry-list p {
	font-size: 15px;
	color: #666;
	line-height: 1.7em;
	font-family: "Microsoft YaHei",Tahoma,Arial;
}

.plusone {
	float: right;
}

.comments {
	padding: 20px 24px 10px;
}

.entry-list ol {
	line-height: 2.4em;
	list-style-type: none;
	padding-left: 15px;
}

.commentlist {
	font-size: 14px;
	padding: 1.25rem 0.75rem;
}

.commentlist li {
	line-height: 1.5em;
}

.commentlist .row_comment {
	border-bottom: 1px solid #EEE;
	overflow: auto;
	padding-top: 5px;
	padding-left: 5px;
	margin-left: -15px;
	display: -webkit-box;
    display: -ms-flexbox;
	display:flex;
	-webkit-box-pack: center;
    -ms-flex-pack: space-between;
	justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
	align-items:center;
}

.commentlist .row_comment_pic {
	border-bottom: 1px solid #EEE;
	overflow: auto;
	padding-top: 5px;
	padding-left: 5px;
}

.commentlist .author {
	float: left;
	margin-right: 2%;
	overflow: hidden;
	white-space: nowrap;
	width: 18%;
	line-height: 1.2em;
    /* padding-top: 10px; */
}
.commentlist .author small{
	color:#ccc;
}
.commentlist .text {
	flex: 1 1 auto;
    color: #777;
}

.jandan-vote {
	text-align: right;
	font-size: 12px;
	color: #c8c7cc;
	padding-right: 2px;
	display:flex;
	display:-ms-flexbox;
	display:-webkit-box;
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
	padding-bottom: 0.5em;
}

.jandan-vote a.like, .tucao-vote a.like {
	color: #faa;
	font-weight: bold;
}

.jandan-vote a.like:hover, .tucao-vote a.like:hover, .jandan-vote a.like:visited, .tucao-vote a.like:visited {
	color: red;
}

.jandan-vote a.unlike, .tucao-vote a.unlike {
	color: #aaf;
	font-weight: bold;
}

.jandan-vote a.tucao-btn:link, tucao-vote a.tucao-btn:link {
	color: #c8c7cc;
}

.jandan-vote a.unlike:hover, .tucao-vote a.unlike:hover, .jandan-vote a.unlike:visited, .tucao-vote a.unlike:visited {
	color: #007fff;
}

.jandan-tucao {
	margin: 10px 0;
	padding: 0 5px;
	border: 1px solid #eee;
}

.tucao-list {
	margin: 15px 0;
	padding: 10px 0;
}

.jandan-tucao-close {
	color: #888;
	text-align: right;
}

.tucao-form {
	font-size: 12px;
	margin-top: 10px;
}

.jandan-tucao-close a {
	color: #c8c7cc;
	font-size: 12px;
}

.tucao-form input.tucao-nickname, .tucao-form input.tucao-email {
	border: 1px solid #EEE;
	color: #888;
	font-family: "Microsoft YaHei",Tahoma,Arial;
	height: 20px;
	padding: 0 10px;
	width: 150px;
}

.tucao-form textarea {
	width: 100%;
	height: 150px;
	border: 1px solid #EEE;
}

.tucao-content {
	padding: 3px 10px;
	line-height: 24px;
	font-size: 14px;
	word-wrap: break-word;
}

.tucao-form button {
	display: block;
	width: 100%;
	background-color: #888;
	padding: 5px 0;
	margin: 5px 0;
	border: 1px solid #888;
	font-size: 14px;
	cursor: pointer;
	color: #fff;
}

#commentform p {
	float: left;
	font-size: 12px;
	margin: 5px 0;
}

#commentform input#author, #commentform input#email, #commentform input#url {
	border: 1px solid #EEE;
	font-family: "Microsoft YaHei",Tahoma,Arial;
	height: 20px;
	padding: 0 10px;
	width: 245px;
}

#commentform input#author, #commentform input#email, #commentform input#url {
	border: 1px solid #EEE;
	font-family: "Microsoft YaHei",Tahoma,Arial;
	height: 20px;
	padding: 0 10px;
	width: 245px;
}

#commentform textarea,.rich-editor textarea {
	border: 1px solid #EEE;
	font-size: 14px;
	font-family: "Microsoft YaHei",Tahoma,Arial;
	height: 135px;
	padding: 10px;
	width: 100%;
	resize: vertical;
}

.loading {
	background: url(../img/spinner.gif) no-repeat scroll 0 0 transparent;
	font-size: 0;
	height: 15px;
	margin: 0 auto;
	text-indent: -9999px;
	width: 100px;
}

#commentform #submit {
	background-color: #f9f9f9;
	border: 1px solid #EEE;
	cursor: pointer;
	font-family: "Microsoft YaHei",Tahoma,Arial;
	font-size: 12px;
	margin-bottom: 10px;
	padding: 2px 4px;
}

/****right banner register****/
.widget {
	padding: 10px 0px 9px 0px;
	margin-left: -2px;
}

.cell {
	padding: 0 10px 10px 10px;
	font-size: 14px;
	line-height: 120%;
	text-align: left;
	border-bottom: 1px solid #e2e2e2;
}

.sep5 {
	height: 5px;
}

.fade{
	color: #777;
}

.inner {
	/* padding: 10px;
	font-size: 14px;
	line-height: 150%;
	text-align: left; */
	background-color: #fff;
    padding: 0.6rem 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #f6f6f6;
	border-top: 1px solid #f6f6f6;
}
.inner-bottom {
	padding: 10px;
	font-size: 14px;
	line-height: 150%;
	text-align: left; 
}
.inner .inner-title{
	margin: 0;
    font-size: 16px;
    font-weight: 500;
	
}
.inner .inner-list{
	display: -webkit-box;
    display: -ms-flexbox;
    position: relative;
	width:100%;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
	margin-bottom:0px !important;
	
	
}
.inner li.inner-item{
	margin-right: 20px;
	font-size: 14px;
    color: #90979c;
}
.inner li.inner-item.right{
	position: absolute;
    top: 0;
    right: 0;
	margin-right: 15px;
}
.inner li.router-link-exact-active .title, .link-active, .tag-link{
	color:#007fff !important;
}
.normal.button {
	background-color: #fff;
	color: #333;
	text-shadow: 0px 1px 0px #fff;
	text-decoration: none;
	font-weight: bold;
	box-shadow: 0px 1px 0px rgba(66, 66, 77, 0.1);
}

.sep10 {
	height: 10px;
}

.super.button {
	background-image: url(../img/bg_blended_light.png);
	padding: 4px 8px 4px 8px;
	border: 1px solid rgba(80,80,90, 0.2);
	border-bottom-color: rgba(80,80,90, 0.35);
	border-radius: 3px;
	font-size: 14px;
    /* line-height: 12px; */
	outline: none;
}
/****right banner font****/
#list-title {
	line-height: 0.4rem;
	list-style-type: none;
	padding: 15px 0px;
	margin-left: -2px;
	text-align: center;
}

#nice_comments {
	color: #aaa;
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
}

.list-item {
	width: 25%;
	border-left: 1px solid #EEE;
	cursor: pointer;
	float: left;
	margin-right: 5px;
	font-size: 12px;

}

.list-item-checked {
	font-weight: bold;
}

.host-list-split {
	background-color: #EEE;
	height: 1px;
}

#content-box {
	position: relative;
	clear: both;
	margin: 0 2px;
	height: 265px;
	overflow-y: auto;
    overflow-x: hidden;
	word-wrap:break-word;
}

.contents {
	max-height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0 2px;
	width: 100%;
	text-align: left;
	z-index: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.contents ol {
	color: #AAA;
	line-height: 2em;
	overflow: hidden;
}

.contents-checked {
	z-index: 1;
	opacity: 1;
	visibility: visible;
}
.contents li{white-space: nowrap;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.contents-checked .item-1 a {
	color: #FD8C84;
}

.contents-checked .item-2 a {
	color: #85C155;
}

.contents-checked .item-3 a {
	color: #52BAF5;
}

#list-title-img {
	line-height: 1.5em;
	list-style-type: none;
	padding: 15px 0px;
	margin-left: -2px;
	text-align: center;
}

#nice_comments {
	color: #aaa;
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
}

.list-item-img {
	width: 18%;
	border-left: 1px solid #EEE;
	cursor: pointer;
	float: left;
	margin-right: 5px;
	font-size: 12px;
}

.list-item-img-checked {
	font-weight: bold;
}

.host-list-split {
	background-color: #EEE;
	height: 1px;
}

#content-box-img {
	position: relative;
	clear: both;
	margin: 0 2px;
	height: 300px
}

.contents-img {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0 2px;
	width: 100%;
	text-align: left;
	z-index: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.contents-img ol {
	border-bottom: 1px solid #EEE;
	color: #AAA;
	line-height: 2em;
}

.contents-img-checked {
	z-index: 1;
	opacity: 1;
	visibility: visible;
}
/***./right banner img*******/
.acv_author a {
	color: #333;
	font-weight: bold;
	font-size: 14px;
}
.acv_author {
	color: #666;
	font-size: 12px;
	margin: 5px 0px;
	padding: 5px 0px;
	background-color: #f5f5f5;
}
#sidebar {
	float: right;
	/* padding-bottom: 20px; */
	/* width: 340px; */
}
#sidebar ul {
	line-height: 1.5em;
	list-style-type: none;
    /* padding: 15px 20px; */
	margin-left: -2px;
}

.acv_comment_full_size {
	max-height: 100% !important;
	padding-bottom: 50px;
}

.acv_comment {
	background: none repeat scroll 0 0 #fff;
	cursor: pointer;
	float: none;
	margin: 0 auto;
	max-height: 200px;
	overflow: hidden;
	padding: 2px 0 0px;
	position: relative;
	width: 100%;
	word-wrap: break-word;
}

a.view_img_link {
	font-size: 12px;
	color: #AAA;
}

#sidebar ul img {
	padding-top: 3px;
}

.acv_comment img {
	cursor: pointer;
	max-width: 100%;
}

.gif-mask {
	background-color: #000;
	color: #fff;
	cursor: pointer;
	opacity: .3;
	position: absolute;
	text-align: center;
}

.acv_comment .show_more {
	background-color: #000;
	bottom: 0;
	color: #fff;
	left: 0;
	opacity: .5;
	position: absolute;
	right: 0;
	text-align: center;
}

.jandan-vote a.like, .tucao-vote a.like {
	color: #faa;
	font-weight: bold;
}

.jandan-vote a, .tucao-vote a {
	font-size: 12px;
}

.jandan-vote a.unlike, .tucao-vote a.unlike {
	color: #aaf;
	font-weight: bold;
}


	/****index****/
a.tab:link, a.tab:visited, a.tab:active {
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
	padding: 5px 8px 5px 8px;
	margin-right: 5px;
	border-radius: 3px;
}

a.tab_current:link, a.tab_current:visited, a.tab_current:active {
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
	padding: 5px 8px 5px 8px;
	margin-right: 5px;
	border-radius: 3px;
	background-color: #222;
	color: #fff;
}

#nav-key-list {
	position: relative;
	height: 50px;
}
.nav-key-list {
	max-height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0 2px;
	width: 100%;
	text-align: left;
	z-index: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.nav-key-list-checked {
	z-index: 1;
	opacity: 1;
	visibility: visible;
}
.title-top {
	background-color: #f9f9f9;
	border-bottom: 1px solid #EEE;
	color: #4f4f4f;
	font-size: 14px;
	font-weight: normal;
	height: 15px;
	margin-right: 1px;
	padding: 14px 20px;
}
.thumbs_b img {
	width: 175px;
	height: 98px;
}
.entry-list .post .indexs {
	font-size: 14px;
}
.entry-list .comment-link {
	color: #CCC;
	float: right;
	font-weight: bold;
	font-size: 16px;
	font-family: sans-serif;
	line-height: 1em;
	text-align: center;
}
.entry-list .post h1, .post .h2 {
	font-size: 18px;
	line-height: 1.2em;
	padding: 5px 0;
}
.entry-list .post .time_s {
	color: #888;
	font-size: 12px;
	font-weight: normal;
	margin: 5px 0px;
}
.entry-list .post .indexs strong a {
	font-weight: bold;
}
.entry-list .post .indexs a.h2{
	color: #d9534f;
}
.entry-list .post .indexs a.h2:hover {
	color: #54ADDB;
}
.entry-list .post .time_s a {
	color: #888;
}
.entry-list .post h1 a, .post a.h2,h2.notetitle {
	color: #333;
	font-weight: bold;
	padding: 15px 0;
    margin: 0;
}
.list-post a.jandan-zan {
	bottom: 10px;
	color: #888;
	background-color: transparent;
	border: 0;
	bottom: 10px;
	float: right;
	font-size: 14px;
	font-weight: normal;
	line-height: 12px;
	padding: 4px 4px;
	position: absolute;
	right: 10px;
}
@media (max-width: 768px) {
	.entry-list .post h1, .post .h2 {
		font-size: 12px;
		padding: 5px 0;
	}

	.thumbs_b .whb img {
		width: 60px;
		height: 60px;
	}

	.entry-list .post .indexs {
		font-size: 12px;
	}

	.entry-list .post .thumbs_b {
		float: left;
		padding-left: 0px;
		width: 70px;
		height: 70px;
	}
}
.inner-other {
	float: left;
	overflow: hidden;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
}
.more {
	background-color: #888;
	color: #FFF !important;
	padding: 5px 10px;
	font-size: 16px;
}
.bottom-inverse {
	border-top: 1px solid #eee;
	color: #888;
	margin-top: 20px;
	background-color:#fff;
}
.snow {
	color: #e2e2e2;
}
.copyright {
	font-size: 12px;
}
/*****index end*****/
/****girl*******/
.commentlist img {
	cursor: pointer;
}
.author strong {
	color: #444;
	font-size: 14px;
}
.author small a {
	color: #CCC;
	font-weight: normal;
	text-transform: uppercase;
}
/****girl end****/
.cont_copyright {
	margin-top: 20px;
	float: left;
	
	padding: 10px 80px;
	text-align: left;
	line-height: 33px;
	border: solid 1px #FFB413;
	background: #F9F9F9;
}
#sidebar .hotcomment{
	max-height:83rem;
	overflow-y:auto;
	overflow-x:hidden;
	word-wrap:break-word;
	
}
.list-header {
    padding: 1rem 1rem;
}
.nav-list[data-v-1682589a] {
    position: relative;
}
.list-header .nav-list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1;
}
.list-header .list-nav, .list-header .nav-list,.caption1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
	/* justify-content 用于设置或检索弹性盒子元素在主轴（横轴）方向上的对齐方式。 */
	margin-bottom:0px !important;
}
.list-header .left .nav-item {
    padding: 0 1.2rem;
    font-size: 1.35rem;
    border-right: 1px solid hsla(0,0%,59%,.2);
}
.nav-item {
    position: relative;
    cursor: pointer;
}
.list-header .nav-list .nav-item.active a, .list-header .nav-list .nav-item a:hover {
    color: #007fff;
}
.nav-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	/* 弹性元素 */
    -webkit-box-pack: end;
	/* 额外空间的分配方式 */
    -ms-flex-pack: end;
	/* 额外空间的分配方式 */
    justify-content: flex-end;
	/* justify-content 用于设置或检索弹性盒子元素在主轴（横轴）方向上的对齐方式。 */
    -ms-flex-wrap: wrap;
	/* 规定在必要时拆行或者拆 */
    flex-wrap: wrap;
	/* 规定在必要时拆行或者拆列 */
	/* -webkit-box-flex: 0; */
    /* -ms-flex: 0 0 auto; */
    /* flex: 0 0 auto; */
}
.nav-list .nav-item{
    padding: 1rem .6rem;
    margin-left: .8rem;
    font-size: 1.5rem;
    white-space: nowrap;
}
.info-box-flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 2.5rem;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	
}
.info-box-flex .headimg{
	-webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 2.4rem;
    width: 7.5rem;
    height: 7.5rem;
    background-color: #f9f9f9;
    /* border-radius: 50%;background-image: url('/Home/Public/img/qrcode.jpg');background-size:7.5rem 7.5rem; */
}
.info-box-flex .username{
	margin: 0;
    padding: 0;
    font-size: 2.167rem;
    font-weight: 600;
    line-height: 1.2;
    color: #000;
}
.info-box-flex .info-box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
	-webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
	/* 超出或太小的时候可以使用 flex-grow扩展  flex-shrink伸缩  其他 */
    margin-right: 2rem;
}
.info-box-flex .action-box{
	-webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
	
}
.history-box{
	display: -webkit-box;
    display: -ms-flexbox;
	display:flex;
	
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
	
	-webkit-box-align: start;
    -ms-flex-align: flex-start;
	align-items:flex-start;
	
	-webkit-box-pack: center;
    -ms-flex-pack: center;
	justify-content: center;
	padding: 1.667rem 2.4rem;
}
.header-list{
	 display: -webkit-box;
    display: -ms-flexbox;
	display:flex;
	
	-webkit-box-pack: center;
    -ms-flex-pack: space-between;
	justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	
	-webkit-box-align: center;
    -ms-flex-align: center;
	align-items:center;
	
	border: none;
    box-shadow: inset 0 -1px 0 hsla(240,2%,90%,.5);
	margin: 0;
    padding: 0;
    height: 4.167rem;
}
.header-list .link{
	width:7.5rem;
	margin-right:1.5rem;
	height: 100%;
	cursor: pointer;
	-webkit-box-align: center;
    -ms-flex-align: center;
	align-items:center;
	
	
	
	-webkit-box-pack: center;
    -ms-flex-pack: center;
	justify-content: center;
	
	display: -webkit-box;
    display: -ms-flexbox;
	display:flex;
}
.header-list .link.active {
	box-shadow: inset 0 -2px 0 #3780f7;
}
.history-box-top{
	display: -webkit-box;
    display: -ms-flexbox;
	display:flex;
    -webkit-box-pack: center;
    -ms-flex-pack: space-between;
	justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
	align-items:center;
    width: 100%;
}
.top-box-left{
	
}
.meta-box{
	font-size:1.25rem;
	font-weight:500;
	color:#b2bac2;
}
.margin-left-auto{
	margin-left:auto;
}
.history-box-bottom{
	padding: 1.25rem;
    background-color: #fdfdfd;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
	display: -webkit-box;
    display: -ms-flexbox;
	display:flex;
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: .833rem;
	width:100%;
}
.bottom-box-full{
	-webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.flex-box{
	position: relative;
    box-sizing: border-box;
	border-bottom: 1px solid hsla(240,2%,90%,.5);
	
}
.pin-modal .pin-modal-box{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.65);
    z-index: 500;
    overflow-x: hidden;
    overflow-y: hidden;
}
.pin-modal .main-box{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    max-width: 960px;
    z-index: 501;
}
.pin-modal .main-box .pin-editor-dialog{
	width: 640px;
    top: 0;
    position: absolute;
    left: 50%;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    -webkit-transform: translate(-50%,60px);
    transform: translate(-50%,60px);
}
.pin__editor{
	background-color: #fff;
    position: relative;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}
.pin-modal .main-box .header.editer-header{
	position:relative;
}
.pin-modal .main-box .header.editer-header .title{
	font-size: 1.3rem;
    color: #17181a;
    text-align: center;
    line-height: 3.333rem;
    height: 3.333rem;
    font-weight: 500;
}
.header .close{
	cursor: pointer;
    width: 1.3rem;
    height: 1.3rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
    border-radius: 50%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.pin-modal .editor-body{
	    padding: 1.333rem 1.666rem 0;
    background: #fff;
    position: relative;
    border-radius: 2px;
}
.editor-body .content{
	position: relative;
    border-radius: 2px;
    border: 1px solid hsla(0,0%,59%,.2);
    background-color: rgba(226,230,235,.2);
}
.pin-modal .main .pin__editor .editor-body .editor {
    max-height: 136px;
    overflow-y: auto;
}
.pin-editor-dialog .editor-body .content .editor {
    position: relative;
}
.editor-content {
    position: relative;
    font-size: 1.5rem;
    word-wrap: break-word;
}
.rich-editor1 {
    position: relative;
    height: 100%;
    outline: none;
    border-radius: 2px;
    color: #17181a;
    min-height: 75px;
    font-size: 1.25rem;
    padding: 8px 10px;
}
.word-counter{
	position: absolute;
    right: 1rem;
    bottom: .8rem;
    font-size: 13px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
.pin-bottom{
	display: -webkit-box;
    display: -ms-flexbox;
	display:flex;
    -webkit-box-pack: center;
    -ms-flex-pack: space-between;
	justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
	align-items:center;
	padding: 0.25rem 1.75rem;
}
.pin-bottom span{
	-webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
#content img{
	max-width:90%:
}
.history-box-flex{
	padding:1rem 0rem;
}
