.rich-text-editor{
    position: relative;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 1.4rem;
    height: 5.334rem;
    background-color: #fff;
    border-bottom: none;
    z-index: 100;
}
.header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    width: 83.334rem;
    max-width: 100%;
    height: 100%;
}
.logo {
    position: relative;
    margin: 0 auto 0 0;
    width: 3.067rem;
    height: 3.067rem;
    background: 50% no-repeat;
    background-size: contain;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAMAAAC5zwKfAAAAjVBMV…RS3bfRSan1waGZMVXwctmrrKdPqhgt0jnVtBa+DwMDA3r8A41Ik44EoNuxAAAAAElFTkSuQmCC);
}
.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    background-color: #fff;
}
.main .title-input {
    padding-top: 12rem;
    padding-left: calc(50% - 27.834rem);
    padding-right: calc(50% - 27.834rem);
}

.title-input {
    margin: 0;
    padding: 0;
    font-size: 2.667rem;
    font-weight: 700;
    color: #000;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
}
.main .rich-text-editor-content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    padding: 3rem calc(50% - 27.834rem) 50vh;
    outline: none;
}
.edui-editor.edui-default{
	width:100% !important;
}
.publish-popup {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.with-padding{
    padding: 0 1.2rem;
}
.toggle-btn {
    font-size: 1.334rem;
    white-space: nowrap;
    color: #007fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.panel {
    position: absolute;
    margin: 1.8rem -3rem 0 0;
    padding: 2rem;
    top: 100%;
    right: 0;
    width: 28rem;
    font-size: 1.2rem;
    white-space: nowrap;
    color: #909090;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 1px 2px #f1f1f1;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1000;
}
.toggle-btn .icon {
    margin-left: .5rem;
}
.panel .title {
    margin-bottom: 1.5rem;
    font-size: 1.56rem;
    font-weight: 700;
    color: hsla(218,9%,51%,.8);
}
.panel .category-box {
    margin-bottom: 1rem;
}
.panel .tag-box {
    margin-bottom: 1.6rem;
}
.panel .publish-btn {
    display: block;
    margin: 0 auto;
    padding: .6rem 1.2rem;
    color: #007fff;
    background: #fff;
    border: 1px solid currentColor;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    transition: all .2s;
}
.panel .sub-title {
    margin-bottom: 1rem;
    font-size: 1.334rem;
}
.panel .category-list, .panel .tag-list {
    white-space: normal;
}
.panel .category-list .item, .panel .tag-list .item{
    display: inline-block;
    margin: 0 .6rem .8rem 0;
    padding: .4rem .7rem;
    font-size: 1.1rem;
    white-space: nowrap;
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    cursor: pointer;
}
.panel .category-list .item.active, .panel .category-list .item:hover, .panel .tag-list .item.active, .panel .tag-list .item:hover {
    color: #007fff;
    border-color: rgba(0,127,255,.15);
    background-color: rgba(0,127,255,.05);
}