<div class="container projects">
<main class=" col-md-8 main-content commentlist ">
<li id="comment-3630937">
                <div>
					<foreach name="imglist" item="imglist">
                    <div class="row">

                        <div class="author"><strong title="防伪码：b925b5e28a586ff3ef5cd055833f46d2dc3231a8" class="">{$imglist.author}</strong>                            <br>
                            <small><a href="#footer" title="@回复" >@{$imglist.addtime|date='Y-m-d H:i',###}</a></small>
                        </div>
                        <div class="text">
							<span class="righttext">
								<a href="javascript:;">{$imglist.id}</a>
							</span>
							<p style="position: relative;">
								<a href="{$imglist.url}" target="_blank" class="view_img_link">[查看原图]</a><br>
								<img src="<?php echo (str_replace('mw690','thumb180',$imglist[url])); ?>" data-gif="{$imglist.url}" alt="GIF Loader" class="gif" style="max-width: 480px;
    max-height: 750px;">
								<div class="gif-mask">PLAY</div>
							</p>
                        </div>
                        <div class="jandan-vote">
                            <span class="tucao-like-container">
                            <a title="圈圈/支持" href="javascript:;" class="comment-like like" data-id="3630937" data-type="pos">OO</a> [<span>0</span>]
                            </span>
                            <span class="tucao-unlike-container">
                            <a title="叉叉/反对" href="javascript:;" class="comment-unlike unlike" data-id="3630937" data-type="neg">XX</a> [<span>0</span>]

                            <a href="javascript:;" class="tucao-btn" data-id="3630937"> 吐槽 [0] </a>
                            </span>
                        </div>
                    </div>
					</foreach>
                </div>
            </li>
</main>
<aside class="col-md-4 sidebar visible-lg-block">
	<div class="widget">
                        <div class="cell">
                            <strong>V2FUN = way to fun</strong>
                            <div class="sep5"></div>
                            <span class="fade_tips">V2FUN 是一个传播网络新鲜资讯和分享快乐的地方</span>
                        </div>
                      
    </div>
	
	<ul id="list-title">
    <li class="list-item list-item-checked">24H热门</li>
    <li class="list-item">三日最赞</li>
    <li class="list-item">一周话题</li>
</ul>
<div class="host-list-split"></div>
<div id="content-box">
    <div class="contents contents-checked" >
	<ol>
	<foreach name="dayhot" item="v">
		<li><a href="{:U('note',array('id'=>$v['goods_id']))}" title="{$v.goods_number}次浏览">{$v.goods_name}</a></li>
	</foreach>
		
	</ol>
	
	</div>
    <div class="contents" >
	
	<ol>
	<foreach name="weekhot" item="v">
		<li><a href="{:U('note',array('id'=>$v['goods_id']))}" title="{$v.goods_number}次浏览">{$v.goods_name}</a></li>
	</foreach>
		
	</ol>
	</div>
	
    <div class="contents" >
	<ol>
	<foreach name="monthhot" item="v">
		<li><a href="{:U('note',array('id'=>$v['goods_id']))}" title="{$v.goods_number}次浏览">{$v.goods_name}</a></li>

	</foreach>
		
	</ol>
	</div>
</div>
	
	<ul id="list-title-img">
    <li class="list-item-img list-item-img-checked">动态</li>
    <li class="list-item-img">妹子图</li>
    <li class="list-item-img">无聊图</li>
	<li class="list-item-img">段子</li>
	<li class="list-item-img">神回复</li>
</ul>
<div class="host-list-split"></div>
<div id="content-box-img">
    <div class="contents-img contents-img-checked" >
	<div id="sidebar">
	<ul>
	<div class="hotcomment">
            <div class="in">
                    
					
					<div class="acv_author">午夜屠猪男                        @ <a href="http://jandan.net/pic/page-599#comment-3624515">无聊图</a>
                    </div>
                    <div class="acv_comment ">
						
                        <p style="text-align:center">
						<img src="http://wx2.sinaimg.cn/thumb180/006G49ezgy1flvu0mom1fg30dw0dwhdy.jpg" alt="GIF Loader" data-gif="http://wx2.sinaimg.cn/mw690/006G49ezgy1flvu0mom1fg30dw0dwhdy.gif" class="gif">
						<div class="gif-mask" >PLAY</div>
						</p>
						
						
					</div>
                    <div class="jandan-vote">
						<a href="http://ww1.sinaimg.cn/thumb180/74909671ly1fltk06k26og20b406eu17.gif"  target="_blank" class="view_img_link">[查看原图]</a>
						
                        <a title="圈圈/支持" href="javascript:;" class="comment-like like" data-id="3624515" data-type="pos">OO</a> [<span>56</span>]
                        <a title="叉叉/反对" href="javascript:;" class="comment-unlike unlike" data-id="3624515" data-type="neg">XX</a> [<span>3</span>]
                    </div>
  
                                       
                                </div>
        </div>
		</ul>
		</div>
	
	</div>
    <div class="contents-img" >
	
	<div id="sidebar">
	<ul>
	<div class="hotcomment">
            <div class="in">
                    
					
					<div class="acv_author">王很水                        @ <a href="#">无聊图</a>
                    </div>
                    <div class="acv_comment">
                        <p><a href="//ws2.sinaimg.cn/mw600/b0846779ly1flu1yvxpl6j20fc0fk0tk.jpg" target="_blank" class="view_img_link">[查看原图]</a><br><img src="http://ws2.sinaimg.cn/mw600/b0846779ly1flu1yvxpl6j20fc0fk0tk.jpg"></p>
                    
					</div>
                    <div class="jandan-vote">
                        <a title="圈圈/支持" href="javascript:;" class="comment-like like" data-id="3624505" data-type="pos">OO</a> [<span>55</span>]
                        <a title="叉叉/反对" href="javascript:;" class="comment-unlike unlike" data-id="3624505" data-type="neg">XX</a> [<span>7</span>]
                    </div>
  
                                       
                                </div>
        </div>
		</ul>
		</div>
	</div>
	<div class="contents-img" >
	
	<div id="sidebar">
	<ul>
	<div class="hotcomment">
            <div class="in">
                    
					
					<div class="acv_author">王很水                        @ <a href="#">无聊图</a>
                    </div>
                    <div class="acv_comment">
                        <p><a href="//ws2.sinaimg.cn/mw600/b0846779ly1flu1yvxpl6j20fc0fk0tk.jpg" target="_blank" class="view_img_link">[查看原图]</a><br><img src="http://ws2.sinaimg.cn/mw600/b0846779ly1flu1yvxpl6j20fc0fk0tk.jpg"></p>
                    
					</div>
                    <div class="jandan-vote">
                        <a title="圈圈/支持" href="javascript:;" class="comment-like like" data-id="3624505" data-type="pos">OO</a> [<span>55</span>]
                        <a title="叉叉/反对" href="javascript:;" class="comment-unlike unlike" data-id="3624505" data-type="neg">XX</a> [<span>7</span>]
                    </div>
  
                                       
                                </div>
        </div>
		</ul>
		</div>
	</div>
	<div class="contents-img" >
	
	<div id="sidebar">
	<ul>
	<div class="hotcomment">
            <div class="in">
                    
					
					<div class="acv_author">王很水                        @ <a href="#">无聊图</a>
                    </div>
                    <div class="acv_comment">
                        <p><a href="//ws2.sinaimg.cn/mw600/b0846779ly1flu1yvxpl6j20fc0fk0tk.jpg" target="_blank" class="view_img_link">[查看原图]</a><br><img src="http://ws2.sinaimg.cn/mw600/b0846779ly1flu1yvxpl6j20fc0fk0tk.jpg"></p>
                    
					</div>
                    <div class="jandan-vote">
                        <a title="圈圈/支持" href="javascript:;" class="comment-like like" data-id="3624505" data-type="pos">OO</a> [<span>55</span>]
                        <a title="叉叉/反对" href="javascript:;" class="comment-unlike unlike" data-id="3624505" data-type="neg">XX</a> [<span>7</span>]
                    </div>
  
                                       
                                </div>
        </div>
		</ul>
		</div>
	</div>
	
    <div class="contents-img" >
	<div id="sidebar">
	<ul>
	<div class="hotcomment">
            <div class="in">
                    
					
					<div class="acv_author">穿越者                        @ <a href="http://jandan.net/pic/page-599#comment-3624510">无聊图</a>
                    </div>
                    <div class="acv_comment">
                        <p><a href="//ws2.sinaimg.cn/mw600/6d050af1gy1flu2239l08j209d0go74b.jpg" target="_blank" class="view_img_link">[查看原图]</a>
						<br>
						<img src="http://ws2.sinaimg.cn/mw600/6d050af1gy1flu2239l08j209d0go74b.jpg">
						</p>
					</div>
                    <div class="jandan-vote">
                        <a title="圈圈/支持" href="javascript:;" class="comment-like like" data-id="3624510" data-type="pos">OO</a> [<span>50</span>]
                        <a title="叉叉/反对" href="javascript:;" class="comment-unlike unlike" data-id="3624510" data-type="neg">XX</a> [<span>6</span>]
                    </div>
  
                                       
                                </div>
        </div>
		</ul>
		</div>
	</div>
</div>
</aside>
</div>


<script>
 $('.col-md-8').find('.gif-mask').each(function () {
                var $this = $(this);
                if ($this.height() > 50) {
                    return;
                }
                $this.parent().css('position', 'relative');
                var img = $this.parent().find('.gif');
				var parent=$this.parent();
                var position = img.position();
                $this.css({
                    'height': img.height(),
                    'width': img.width(),
                    'line-height': img.height() + 'px',
                    'left': position.left,
                    'top': position.top
                });
            });
$('.gif-mask').click(function(){
	$this=$(this);
	$this.hide();
	$this.parent().find('.gif').click();


});
</script>