{{define "footer"}}
<div class="bottom-inverse">
	<div class="container">
		<div class="inner-bottom">
			<div class="mh10">
			</div>
			<strong>
			<a href="#">关于</a>&nbsp;<span class="snow">.</span>&nbsp;
			<a href="#">FAQ</a>&nbsp;<span class="snow">.</span>&nbsp;
			<a href="#">我们的愿景</a>&nbsp;<span class="snow">.</span>&nbsp;
			<a href="#">广告投放</a>&nbsp;<span class="snow">.</span>&nbsp;
			<a href="#">鸣谢</a>&nbsp;<span class="snow">.</span>&nbsp;
			</strong>
			<div class="mh15">
			</div>
   拯救不开心
			<div class="mh5">
			</div>
   offers a new,not just cheap, way to have fun.
			<div class="mh5">
			</div>
			<span class="small ccc">VERSION: V3.5.3 · 17.908926ms · 为了更好的体验，本站推荐使用 Chrome 或 Firefox 浏览器<br>
			♥ Only great sorrow or great joy can reveal your truth.</span>
			<div class="copyright">
				<a href="http://www.miibeian.gov.cn/" target="_black">
    Copyright © v2fun.cn All right reserved.琼ICP备17002445号-2
				</a>
			</div>
		</div>
	</div>
</div>
<div id="return-top">
	<a href="#">▲</a>
</div>
<style>
#return-top{position:fixed;bottom:10%;right:50px; width:40px;font-size: 22px;text-align:center; display:none;background-color: #EEE;border-radius: 20px;}  
#return-top a{text-decoration:none; }
</style>
<script>  
	$(function(){  
		$('#return-top').hide();
		$('#return-top').hover(function(){
			$(this).css({"background-color":"#333","color":"#fff"});
		},function(){$(this).css({"background-color":"#eee","color":"#333"});});
		$(function(){  
			$(window).scroll(function(){  
				if($(window).scrollTop()>300){  
					$('#return-top').fadeIn(300);  
					}  
					else{$('#return-top').fadeOut(200);}  
				});  
				$('#return-top').click(function(){  
					$('body,html').animate({scrollTop:0},300);  
					return false;  
					})  
			})  
		})  
	</script>
</body>
</html>
{{end}}