{{define "layout"}}
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Window-target" content="_top">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{.pageTitle}}</title>
    <meta name="keywords" content="{$break.keywords}">
    <meta name="description" content="{$break.description}">
    <meta name="sogou_site_verification" content="0EqcZL1hej"/>
    <meta name="360-site-verification" content="0b515d5dacc31ffcf11d7b0089811a7e"/>
    <meta name="shenma-site-verification" content="f7a79f368c108c25b698af27420f5d21_1531988811">
    <!-- Bootstrap -->
    <script src="{{.config.JsPath}}jquery-3.1.1.min.js"></script>
    <link href="{{.config.BootStrapPath}}css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{{.config.ImgPath}}favicon.ico"/>
    <link rel="stylesheet" href="{{.config.CssPath}}site.css"/>
    <link rel="stylesheet" href="{{.config.CssPath}}entry.css"/>
    <link rel="stylesheet" href="{{.config.CssPath}}welcome.css"/>
    <script src="{{.config.BootStrapPath}}js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// --><!-- [if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{{.config.JsPath}}site-function.js"></script>
    <script src="{{.config.JsPath}}phone-code.js"></script>
    <script src="{{.config.JsPath}}helper.js"></script>
    <script src="{{.config.JsPath}}jquery.lazyload.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        /*! showdown-table 17-06-2015 */
        !function () {
            "use strict";
            let a = function (a) {
                var b, c = {}, d = "text-align:left;";
                return c.th = function (a) {
                    if ("" === a.trim()) return "";
                    var b = a.trim().replace(/ /g, "_").toLowerCase();
                    return '<th id="' + b + '" style="' + d + '">' + a + "</th>"
                }, c.td = function (b) {
                    return '<td style="' + d + '">' + a.makeHtml(b) + "</td>"
                }, c.ths = function () {
                    var a = "", b = 0, d = [].slice.apply(arguments);
                    for (b; b < d.length; b += 1) a += c.th(d[b]) + "\n";
                    return a
                }, c.tds = function () {
                    var a = "", b = 0, d = [].slice.apply(arguments);
                    for (b; b < d.length; b += 1) a += c.td(d[b]) + "\n";
                    return a
                }, c.thead = function () {
                    var a, b = [].slice.apply(arguments);
                    return a = "<thead>\n", a += "<tr>\n", a += c.ths.apply(this, b), a += "</tr>\n", a += "</thead>\n"
                }, c.tr = function () {
                    var a, b = [].slice.apply(arguments);
                    return a = "<tr>\n", a += c.tds.apply(this, b), a += "</tr>\n"
                }, b = function (a) {
                    var b, d, e = 0, f = a.split("\n"), g = [];
                    for (e; e < f.length; e += 1) {
                        if (b = f[e], b.trim().match(/^[|].*[|]$/)) {
                            b = b.trim();
                            var h = [];
                            if (h.push("<table>"), d = b.substring(1, b.length - 1).split("|"), h.push(c.thead.apply(this, d)), b = f[++e], b.trim().match(/^[|][-=|: ]+[|]$/)) {
                                for (b = f[++e], h.push("<tbody>"); b.trim().match(/^[|].*[|]$/);) b = b.trim(), h.push(c.tr.apply(this, b.substring(1, b.length - 1).split("|"))), b = f[++e];
                                h.push("</tbody>"), h.push("</table>"), g.push(h.join("\n"));
                                continue
                            }
                            b = f[--e]
                        }
                        g.push(b)
                    }
                    return g.join("\n")
                }, [{type: "lang", filter: b}]
            };
            "undefined" != typeof window && window.showdown && window.showdown.extensions && (window.showdown.extensions.table = a), "undefined" != typeof module && (module.exports = a)
        }();
        var _hmt = _hmt || [];
    </script>

    <script type="text/javascript">
        $(function () {
            $("img").lazyload({
                placeholder: "{{.config.ImgPath}}loading.gif",
                effect: "fadeIn"
            });
        });
    </script>
    <!-- 收录代码-->
    <script>
        (function () {
            let src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?7124abb302441289fa561bbc1e887381" : "https://jspassport.ssl.qhimg.com/11.0.1.js?7124abb302441289fa561bbc1e887381";
            document.write('<script src="' + src + '" id="sozz"><\/script>');
        })();
    </script>
    <script>
        //百度收录
        (function () {
            let bp = document.createElement('script');
            let curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            } else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            let s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
</head>
<body>
<div class="navbar navbar-default bc4c ">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand hidden-sm" href="/"
               onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'navbar-首页'])">Golang之家</a>
        </div>
        <div class="navbar-collapse collapse" role="navigation" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li onclick="loadStatus('推荐')"><a href="/Home/Index/index"
                                                  onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v3doc'])">主题</a>
                </li>
                <li onclick="loadStatus('文章')"><a href="/Home/Index/article"
                                                  onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v4doc'])">文章</a>
                </li>
                <li onclick="loadStatus('资讯')"><a href="/Home/Resources/index"
                                                  onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v5doc'])">资讯</a>
                </li>
                <li onclick="loadStatus('下载')"><a href="/Home/Download/index"
                                                  onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v5doc'])">下载</a>
                </li>
                <li onclick="loadStatus('开源项目')"><a href="/golang/projectIndex"
                                                    onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v5doc'])">开源项目</a>
                </li>
                <li class="hidden-xs" style="height:50px;width:300px;">
                    <input type="text" autocomplete="off" name="q" id="search" class="form-control"/>
                    <div id="search-btn">
                        <span class="glyphicon glyphicon-search btn-lg"></span>
                    </div>
                    <input type="hidden" name="ie" value="utf8">
                    <input type="hidden" name="src" value="zz_www.golangschool.com">
                    <input type="hidden" name="site" value="www.golangschool.com">
                    <input type="hidden" name="rg" value="1">
                    <script type="text/javascript" charset="utf-8">
                        $('#search-btn').click(function () {
                            // $('#so360form').submit();
                            location.href = '/Home/Search/searchList?key=' + $('#search').val();
                        });
                        $("input#search").keyup(function (event) {
                            if (event.keyCode === 13) {
                                location.href = '/Home/Search/searchList?key=' + $('#search').val();
                            }
                        });
                    </script>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-sm">
                {{if .config.User}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle link-active" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">{{.config.User.Username}}<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Home/User/center?user={{.config.User.UserId}}">个人主页</a></li>
                        <li><a href="/Home/User/setting">基本资料</a></li>
                        <li><a href="/Home/Subscribe/all">我的节点</a></li>
                        <li><a href="/Home/Index/logout?logout=1">退出登录</a></li>

                    </ul>
                </li>
                {{else}}
                <li><a href="/Home/Index/login" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'about'])"
                       class="link-active">登录/注册</a></li>
                {{end}}

            </ul>
        </div>
    </div>
</div>
{{end}}

