 
<div class="container projects">
	<header  class="list-header">
	   <nav  role="navigation" class="list-nav">
		<ul  class="nav-list">
		 <li  class="nav-item active"><a  href="{:U('Subscribe/all',array('sort'=>'popular'))}">最热</a></li>
		 <li  class="nav-item"><a  href="{:U('Subscribe/all',array('sort'=>'newest'))}">最新</a></li>
		 <li  class="nav-item search">
		  <form  role="search" class="search-form">
		   <input  maxlength="32" placeholder="搜索标签" class="search-input" />
		  </form></li>
		</ul>
	   </nav>
	</header>
    <div class="row">
	<foreach name="res" item="v">
      <div class="col-sm-6 col-md-4 col-lg-3 ">
        <div class="thumbnail" >
        
	   
	    <div class="caption" >
		<h5>
			<a href="" title="{$v.type_name}" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])">{$v.type_name}</a>
		</h5>
		<button id="subscribe{$v.type_id}" onclick="unsubscribe({$v.type_id})" class="btn btn-success">已关注</button>
	    </div>
        </div>
      </div>
	 </foreach>
	 <foreach name="resDefault" item="v">
      <div class="col-sm-6 col-md-4 col-lg-3 ">
        <div class="thumbnail" >
        
	   
	    <div class="caption" >
		<h5>
			<a href="" title="{$v.type_name}" target="_blank" onclick="_hmt.push(['_trackEvent', 'tile', 'click', 'codeguide'])">{$v.type_name}</a>
		</h5>
		<button id="subscribe{$v.type_id}" onclick="subscribe({$v.type_id})" class="btn btn-default">+关注</button>
	    </div>
        </div>
      </div>
	 </foreach>
    </div>
</div>
<style>
body{background-color:#ffffff;}
</style>
<script>
var num = 1; //计数器初始化为1
var flag=true;
$(window).scroll(function(){
	if(flag==false){
		return
	}
	
	
		
	var maxnum = 100; //设置一共要加载几次
	var wScrollY = window.scrollY; // 当前滚动条位置    
	var wInnerH = window.innerHeight; // 设备窗口的高度（不会变）    
	var bScrollH = document.body.scrollHeight; // 滚动条总高度    
	var url=window.location.href.replace(/index\/tab/g,"c/tab");//index/tab  replace成 c/tab	
	s= setTimeout(function(){
	if (wScrollY + wInnerH >= bScrollH) {
	$(".row").after('<div  class="loading" ></div>');
	num++; //计数器+1
	LoadList(num);
	
	}
	},500);
});

function subscribe(tag){
	$.ajax({
		type:"POST",
		url:"{:U('add')}",
		data:{'tag':tag},
		success:function(result){
		if(result.status==0){
			location.href=result.url
		
		}
			$('#subscribe'+tag+'').text('已关注')
			$('#subscribe'+tag+'').attr('class','btn btn-success')
			$('#subscribe'+tag+'').attr('onclick','unsubscribe('+tag+')')
		}
	
	})

}
function unsubscribe(tag){
	$.ajax({
		type:"POST",
		url:"{:U('del')}",
		data:{'tag':tag},
		success:function(result){
			$('#subscribe'+tag+'').text('+关注')
			$('#subscribe'+tag+'').attr('class','btn btn-default')
			$('#subscribe'+tag+'').attr('onclick','subscribe('+tag+')')
		}
	
	})

}
function LoadList(num){
	var type=sessionStorage.getItem("loadStatus");
	if(type==null ||type==''){
		type="推荐"
	}
	console.log(type)
	$.ajax({  
		type : "POST",  //提交方式  
		url : "{:U('more')}",//路径  
		data :{'num':num,'tag':type},//数据，这里使用的是Json格式进行传输  
		success : function(result){
		  $('.loading').remove();
		  if(result!=''){
		   t=setTimeout(function(){$('.row').append(result)},1);
		  }else{
			
			if($('#loadEnd').text()!='我们也是有底线的~'){
				flag=false;
				$('.row').append("<div id='loadEnd' style='text-align:center;'>我们也是有底线的~</div>");
			}
		  }
		} 
	});
}
$(function(){
  var url=window.location.href;
  var sonUrl='test';
  $('li.nav-item').each(function(){
    sonUrl=$(this).children("a").attr('href');
    console.log(sonUrl)
    console.log(url)
    if(url.indexOf(sonUrl)!=-1){
      console.log('ok')
      $('li.nav-item').removeClass('active')
      $(this).addClass('active');
         

    }
    

  })

})
</script>
